html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body{
  height:100%;
}
input:focus{
	outline:none;
}
.wrapper{
	padding-top:50px;
	min-height:calc(100vh - 126px);
}
.content{
	max-width:900px;
	padding:0 15px;
	margin:0 auto;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
h1{
	text-align: center;
	font-size: 30px;
	margin-bottom:15px;
}
p{
	text-align: justify;
	margin: 10px;
}
a, .animate{
	-moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
.btn{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	padding:10px 30px;
	font-size:18px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	background:#35e02a;
	border:2px solid #35e02a;
	cursor:pointer;

}
.btn:hover{
	background:#208c19;
	border:2px solid #208c19;
}
/* Header */
.header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:10px 0 0;
	background:#000;
	z-index:20;
}
.nav{
	text-align:center;
	font-size:0px;
	list-style: none;
}
.nav *{
	font-size:14px;
}
.nav li{
	display:inline-block;
	vertical-align:top;
}
.nav .sub-menu{
	position:relative;
}
.nav ul{
	display:none;
	position:absolute;
	list-style: none;
	top:100%;
	left:0;
	background:#000;
}
.nav ul ul{
	top:0;
	right:100%;
	left:auto;
}
.nav ul ul a:hover{
	color:#000;
}
.nav .sub-menu:hover > ul{
	display:block;
}
.nav a{
	display:block;
	padding:10px 20px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.nav a:hover, 
.nav a.active{
	background:#fff;
	color:#000;
}
/* End Header */
/*gallery */
.gallery{
	margin-bottom:15px;
	font-size:0;
}
.imgtext{
	position:relative;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	width:32%;
	margin:0 0 5px 2%;
}
.imgtext:nth-child(3n-2){
	margin-left:0;
}
.gallery img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.gallery .gal-hover{
	position:absolute;
	left:0;
	right:0;
	top:-70px;
	bottom:100%;
	padding:6px 5px;
	font-size:14px;
	text-align:center;
	background:rgba(255,255,255,.5);
	-moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
.imgtext:hover .gal-hover{
	top:50%;
	bottom:auto;
	transform:translateY(-50%);
}

/*end gallery*/
/*aside*/
.main-content{
	width:78%;
}
.main-content.left{
	margin-left:2%;
}
.main-content.right{
	margin-right:2%;
}
.sidebar{
	width:20%;
	padding-top:50px;
}
/*end aside*/
/*vertical-menu*/
.vertical-menu{
	margin-bottom:15px;
	list-style: none;
}
.vertical-menu li{
	margin-bottom: 5px;
}
.vertical-menu > li > a{
	position:relative;
	padding-right:22px;
	text-transform:uppercase;
}
.vertical-menu > li > a:after{
	position:absolute;
	display:block;
	content:"";
	top:11px;
	right:2px;
	width:0;
	height:0;
	border-style:solid;
	border-width:5px 5px 0 5px;
	border-color:#000000 transparent transparent transparent;
	transform: perspective( 20px );
	transition: all 0.5s linear;
}
.vertical-menu > li:hover > a:after{
	-webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.vertical-menu a{
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	color:#000;
	padding:5px;
}
.vertical-menu ul{
	display:none;
	list-style: none;
}
.vertical-menu > li:hover ul{
	display:block;
}
/*end vertical-menu*/

/*paginator*/
.paginator-wrapper{
	margin-bottom:15px;
}
.paginator-box{
	text-align:right;
	font-size:0; 
	list-style:none;
}
.paginator-box *{
	font-size:18px;
}
.paginator-box li{
	display:inline-block;
	vertical-align:top;
	min-width:32px;
	text-align:center;
}
.paginator-box li + li{
	margin-left:2px;
}
.paginator-box a,.paginator-box span{
	display:block;
	padding:5px;
	line-height:20px; 
	text-transform:uppercase; 
	text-decoration:none; 
	border:1px solid #6495ED; 
	color:#000; 
	cursor:pointer; 
	transition:all 0.5s linear;
}
.paginator-box a:hover, 
.paginator-box .active span{ 
	background:#3d66af; 
	border-color:#3d66af; 
	color:#fff;
}
.paginator-box .pag-text span{ 
	text-transform:lowercase; 
	border-color:transparent; 
	cursor:default;
}
.paginator-box .prev{ 
	padding-left:16px;
}
.paginator-box .next{ 
	padding-right:16px;
}
.paginator-box .prev a,
.paginator-box .next a{ 
	position:relative; 
	background:#6495ED; 
	color:#fff;
}
.paginator-box .prev a:hover,
.paginator-box .next a:hover{ 
	background:#3d66af; 
	border-color:#3d66af;
}
.paginator-box .prev a:before{ 
	left:-17px; 
	border-right:16px solid #6495ED;    
	border-left:0px solid transparent;
}
.paginator-box .next a:after{ 
	right:-17px; 
	border-left:16px solid #6495ED;    
	border-right:0px solid transparent;
}
.paginator-box .prev a:before,
 .paginator-box .next a:after{ 
 	display:block; content:""; 
 	position:absolute; 
 	top:-1px; 
 	width:0; 
 	height:0; 
 	border-top:16px solid transparent; 
 	border-bottom:16px solid transparent; 
 	transition:all 0.5s linear;
 }
 .paginator-box .prev a:hover:before{ 
 	border-right-color:#3d66af;
 }
 .paginator-box .next a:hover:after{ 
 	border-left-color:#3d66af;
 }
/*end paginator*/
.social-icons{
	text-align:center;
	font-size:0;
}
.social-icons *{
	font-size:14px;
}
.social-icons li{
	display:inline-block;
	vertical-align:top;
}
.social-icons li + li{
	margin-left:10px;
}
.social-icons a{
	display:block;
	width:30px;
    height:30px;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    -moz-transition:none;
    -o-transition:none;
    -webkit-transition:none;
    transition:none;
}
.social-icons .facebook{
	background-position:-5px -5px;
}
.social-icons .facebook:hover{
	background-position:-45px -5px;
}
.social-icons .vk{
	background-position:-85px -5px;
}
.social-icons .vk:hover{
	background-position:-125px -5px;
}
/*footer*/
.footer{
	background:#000;
	padding-bottom:50px;
}
.footer-menu{
	list-style: none;
	text-align:center;
	font-size:0;
	margin-bottom:10px;
}
.footer-menu *{
	font-size: 14px;
}
.footer-menu li{
	display:inline-block;
	vertical-align:top;
}
.footer-menu a{
	display:block;
	padding:10px 20px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.footer-menu a:hover, 
.footer-menu a.active{
	background:#fff;
	color:#000;
}
.footer-menu ul{
	position:absolute;
	display:none;
	list-style: none;
	left:0;
	bottom:100%;
	background:#000;
}
.footer-menu .sub-menu{
	position:relative;
}
.footer-menu .sub-menu:hover > ul{
	display:block;
}
.footer-menu ul ul{
	right:100%;
	left:auto;
	bottom:0;
}
/* end footer*/
.right-bar{
	display: block;
    position: fixed;
    right:0;
    top:50%;
    transform: translateY(-50%);
    min-width:30px;
}
.side-btn {
    position:absolute;
    width:120px;
    top:45px;
    right:-45px;
    text-align:center;
    font-size:18px;
    line-height:30px;
    color:#fff;
    background:#000;
    text-decoration:uppercase;
    cursor:pointer;
    transform: rotate(-90deg);
}
.right-bar .social-icons{
	width:0;
	padding:0px 10px;
	min-height:120px;
}
.right-bar:hover .social-icons{
	width:auto;
}
.right-bar:hover .side-btn{
	right:5px;
}
.right-bar .social-icons li{
	display:block;
	margin-bottom:5px;
}
.right-bar .social-icons li +  li{
	margin-left:0px;
}
/*sign-up form*/
.form-wrap{
	margin:0 auto 20px;
	max-width:300px;
}
.input-wrap, .radio-wrap{
	margin-bottom:10px;
}
.input-wrap input{
	display:block;
	width:100%;
	padding:5px 10px;
	font:400 16px/1.5 Arial, sans-serif;
	height:34px;
	color:#000;
	background:#fff;
	border:1px solid #000;
}
input:focus{
	background:#ddd;
}
.place::-webkit-input-placeholder {
  opacity:1;
  font:700 16px/1.5 Arial, sans-serif;
  color:#999;
}
.place::-moz-placeholder {
  opacity:1;
  font:700 16px/1.5 Arial, sans-serif;
  color:#999;
}
.place:-ms-input-placeholder {
  opacity:1;
  font:700 16px/1.5 Arial, sans-serif;
  color:#999;
}
.place:-moz-placeholder {
  opacity:1;
  font:700 16px/1.5 Arial, sans-serif;
  color:#999;
}
.submit-wrap{
	text-align:center;
}
.radio-wrap{
	margin-bottom:10px;
	position:relative;
}
input[type="radio"]{
	display:none;
}
input[type="radio"]:checked + .radio-box:after{
	background:#0f0;
	left:20px;
}
.radio-box{
	display:inline-block;
	vertical-align:top;
	padding:5px 10px 5px 40px;
}
.radio-box:before,
.radio-box:after{
	position:absolute;
	content:"";
	display:block;
	left:0;
	top:6px;
	cursor:pointer;
	-moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
.radio-box:before{
	width:34px;
	height:16px;
	border:2px solid #999;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.radio-box:after{
	width:12px;
	height:12px;
	left:2px;
	top:8px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background:#f00;
}
.number{
	position:relative;
}
.number .quantity-nav{
	position:absolute;
	top:1px;
	bottom:1px;
	right:1px;
	width:20px;
	text-align:center;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.number .quantity-button{
	font-size:15px;
	line-height:1;
	font-weight:700;
	border-left:1px solid #000;
	cursor:pointer;
}
.number .quantity-up{
	border-bottom:1px solid #000;
	line-height:16px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width:15px;
}
input[type=number]{
  -moz-appearance:textfield;
}
.check-wrap{
	position:relative;
	margin-bottom:10px;
}
.check-wrap label{
	display:block;
	padding:10px 30px;
	vertical-align:top;
}
.check-wrap label span{
	display:block;
}
.check-wrap input[type="checkbox"]{
	display:none;
}
/*.checkbox:before,
.checkbox:after{
	content:"";
	display:block;
	position:absolute;
}
.checkbox:before{
	content:"";
	top:10px;
	left:0;
	width:20px;
	height:20px;
	border:2px solid #999;
	box-sizing:border-box;
	background:#fff;
}
.checkbox:after{
	content:"";
	width:10px;
	height:10px;
	top:15px;
    left:5px;
	background:transparent;
}
.check-wrap input[type="checkbox"]:checked + .checkbox:after{
	background:#0f0;
}*/
.check-wrap label span:before{
	content:"";
	top:10px;
	left:0;
	width:20px;
	height:20px;
	border:2px solid #999;
	box-sizing:border-box;
	background:#fff;
}
/* end sign-up form*/

