@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i&subset=latin-ext');

@font-face {
	font-family:'FSReg';
	src: url('../fonts/FSReg.eot');
	src: local('☺'), url('../fonts/FSReg.woff') format('woff'), url('../fonts/FSReg.ttf') format('truetype'), url('../fonts/FSReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	padding-top:100px;
}
.content{
	margin:0 auto;
	max-width:1200px;
	padding:0 15px;
}
*{
	box-sizing:border-box;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/*Mobile menu  button*/
.mob-btn {
  display: none;
  float: right;
  width: 58px;
  height: 44px;
  background: transparent;
  padding: 20px 11px;
  margin-top:12px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.mob-btn:hover div {
  background: #4350b3;
}
.mob-btn:hover div:before, .mob-btn:hover div:after {
  background: #4350b3;
}
.mob-btn.active div {
  background: transparent;
}
.mob-btn.active div:before, .mob-btn.active div:after {
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.mob-btn.active div:before {
  top: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mob-btn.active div:after {
  bottom: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mob-btn div {
  text-indent: -9999px;
  height: 5px;
  display: block;
  background: #606fe2;
  position: relative;
  -moz-transition: background 0.3s 0s;
  -o-transition: background 0.3s 0s;
  -webkit-transition: background 0.3s;
  -webkit-transition-delay: 0s;
  transition: background 0.3s 0s;
}
.mob-btn div:before, .mob-btn div:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 5px;
  z-index: 1;
  background: #606fe2;
  -moz-transition-delay: 0.3s, 0s, 0s;
  -o-transition-delay: 0.3s, 0s, 0s;
  -webkit-transition-delay: 0.3s, 0s, 0s;
  transition-delay: 0.3s, 0s, 0s;
  -moz-transition-duration: 0.3s, 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s, 0.3s;
}
.mob-btn div:before {
  top: -9px;
  -moz-transition-property: top, -moz-transform, background;
  -o-transition-property: top, -o-transform, background;
  -webkit-transition-property: top, -webkit-transform, background;
  transition-property: top, transform, background;
}
.mob-btn div:after {
  bottom: -9px;
  -moz-transition-property: bottom, -moz-transform, background;
  -o-transition-property: bottom, -o-transform, background;
  -webkit-transition-property: bottom, -webkit-transform, background;
  transition-property: bottom, transform, background;
}
.layout {
    display: none;
    position: fixed;
    left: 0;
    top: -100px;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(96,111,226,.3);
}
/*Mobile menu  button*/

/*header*/
.header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:42px 0;
	background:#fff;
	z-index:99;
}
.header .content{
	position:relative;
}
.header .logo{
	position: absolute;
    display: block;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
}
.header .logo img{
	display:block;
	max-width:100%;
}
.header .nav{
	display:block;
	text-align:center;
	list-style:none;
}
.header .nav li{
	display:inline-block;
}
.header .nav li + li{
	margin-left:25px;
}
.header .nav li.item{
	margin-left:36.5%;
}
.header .nav a{
	display:block;
	position:relative;
	font:600 14px/16px "OpenSans-SemiBold", sans-serif;
	color:#555555;
	text-decoration:none;
	cursor:pointer;
}
.header .nav a:after{
	display:none;
	position:absolute;
	content:"";
	bottom:-5px;
	left:50%;
	margin-left:-15px;
	width:30px;
	height:1px;
	background:url(../images/shape.png) no-repeat;
}
.header .nav a:hover,
.header .nav a:hover:after{
	display:block;
	color:#5363db;
}
.header .nav a.active:after{
	display:block;
	color:#5363db;
}
@media screen and (min-width:768px){
	.header .nav{
		display:block!important;
	}
	.layout {
	    display:none!important;
	}
}
@media screen and (max-width:767px){
	.mob-btn{
		display:block;
	}
	.header{
		padding:12px 0;
	}
	.header .logo{
		position:static;

		display:inline-block;
		vertical-align:top;
		transform:translateX(0);
	}
	.header .nav {
	    float: none;
	    display: none;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top:calc(100% + 12px);
	    background:#606fe2;
	    padding:3px 0;
	    -moz-transition: none;
	    -o-transition: none;
	    -webkit-transition: none;
	    transition: none;
	}
	.header .nav li {
	    display: block;
	    margin:0!important;
	}
	.header .nav a{
		color:#fff;
		padding:10px 15px;
	    border-bottom:1px solid transparent;
	    border-top:1px solid transparent;
	}
	.header .nav a:hover,
	.header .nav a.active{
		color:#fff;
		background:#4350b3;
		border-bottom:1px solid #fff;
	    border-top:1px solid #fff;
	}
	.header .nav a:after{
		display:none!important;
	}
}
/*end header*/
/*top-banner*/
.top-banner{
	padding:100px 0 109px;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.top-banner .content{
	align-items:center;
}
.top-banner .left-block{
	width:46.1%;
}
.top-banner .form-wrap{
	float:right;
	padding:37px 40px 35px 32px;
	width:100%;
	max-width:300px;
	background:#fff;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
	-webkit-box-shadow: 6px 6px 14px 6px rgba(83,99,219,0.5);
	-moz-box-shadow: 6px 6px 14px 6px rgba(83,99,219,0.5);
	box-shadow: 6px 6px 14px 6px rgba(83,99,219,0.5);
}
.top-banner .label{
	margin-bottom:24px;
	font:600 26px/29px "OpenSans", sans-serif;
	color:#5363db;
}
.top-banner .input-wrap{
	margin-bottom:17px;	
}
.top-banner input,
.top-banner select{
	width:100%;
	max-width:230px;
	padding:17px 9px;
	font:400 14px/16px "OpenSans",sans-serif;
	color:#888;
	background:#f2f2f2;
	border:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.top-banner input:focus,
.top-banner select:focus{
	outline:none;
}
.top-banner .submit-wrap{
	width:170px;
	margin:0 -5px 0 auto;
	padding-top:14px;
}
.top-banner .submit-btn{
	padding:16px 65px;
	font:700 16px/19px "OpenSans",sans-serif;
	color:#fff;
	border:none;
	background:#5b6ceb;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	cursor:pointer;
}
.top-banner .text-wrap{
	width:44%;
	margin-left:8%;
}
.top-banner .slogan{
	margin-bottom:24px;
	font:700 49px/71px "OpenSans",sans-serif;
	color:#fff;
	text-transform:uppercase;
}
.top-banner .text{
	max-width:280px;
	font:40px/47px "FSReg";
	color:#fff;
}
@media screen and (max-width:767px){
	.top-banner{
		padding:40px 0 60px;
	}
	.top-banner .content{
		flex-wrap:wrap;
	}
	.top-banner .left-block{
		width:100%;
		-webkit-box-ordinal-group:2;
		-moz-box-ordinal-group:2;
		-ms-flex-order:2;
		-webkit-order:2;
		order:2;
	}
	.top-banner .text-wrap{
		width:100%;
		margin:0 0 20px 0;
		text-align:center;
		-webkit-box-ordinal-group:1;
		-moz-box-ordinal-group:1;
		-ms-flex-order:1;
		-webkit-order:1;
		order:1;
	}
	.top-banner .slogan{
		font-size:26px;
		line-height:1.2;
		margin-bottom:5px;
	}
	.top-banner .form-wrap{
		float:none;
		margin:0 auto;
	}
	.top-banner .text{
		font-size:36px;
		line-height:1.1;
		margin:0 auto;
	}
	/*.top-banner .form-wrap{
		margin-left:0;
	}
	.top-banner .text-wrap{
		margin-left:5%;
	}*/
}
/*end top-banner*/
/*program-box*/
.program-box{
	padding:120px 0 82px;
}
.program-box .title{
	text-align:center;
	text-transform:uppercase;
	font:700 30px/45px "OpenSans", sans-serif;
	color:#5b6ceb;
}
.program-box .txt{
	margin-bottom:65px;
	text-align:center;
	font:41px/62px "FSReg";
	color:#777;
}
.program-box .program-list{
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:stretch;
}
.program-box .program-item{
	align-items:center;
	width:48%;
	max-width:570px;
	margin-bottom:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1); 
}
.program-box .img-box{
	max-width:270px;
	width:47.4%;
}
.program-box .img-box img{
	display:block;
	width:100%;
	margin:0 auto;
}
.program-box .program-item:hover{
	-webkit-box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.2);
	transition:0.3s linear;
}
.program-box .info-box{
	max-width:270px;
	width:47.4%;
	margin:0 5%;
}
.program-box .info-box .title{
	margin-bottom:10%;
	text-align: left;
	font:700 20px/1.5 "OpenSans",sans-serif;
	color:#777;
}
.program-box .info-box .info{
	margin-bottom:5%;
}
.program-box .info-box .info,
.program-box .info-box .view{
	font:400 14px/22px "OpenSans",sans-serif;
	color:#555;
}
.program-box .info-box .view{
	color:#999;
}
@media screen and (max-width:968px){
	.program-box .program-list{
		flex-direction:column;
		align-items:center;
		justify-content:start;
	}
	.program-box .program-item{
		width:100%;
	}
}
@media screen and (max-width:479px){
	.program-box .program-item{
		width:100%;
	}
	.program-box .info-box{
		max-width:229px;
		width:40%;
		padding-top:1%;
	}
	.program-box .info-box .title{
		margin-bottom:2%;
	}
}
/*end program-box*/
/*gallery-box*/
.gallery-box{
	margin-bottom:125px;
}
.gallery-box a{
	position:relative;
	display:block;
	float:left;
	width:25%;
}
.gallery-box .hover-img{
	position:absolute;
	display:none;
	top:50%;
	left:50%;
	margin:-28.5px 0 0 -28.5px;
	z-index:10;
}
.gallery-box a:hover .hover-img{
	display:block;
}
.gallery-box a:after{
	display:none;
	position:absolute;
	content:"";
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(91,108,235,0.8);
	z-index:5;
	transition:0.7s linear;
}
.gallery-box a:hover:after{
	display:block;
}
.gallery-box img{
	display:block;
	margin:0 auto;
	width:100%;
}
@media screen and (max-width:767px){
	.gallery-box a{
		width:50%;
	}
}
/*end gallery-box*/
/*about-box*/
.about-box{
	margin-bottom:125px;
}
.about-box .about{
	width:40%;
	max-width:470px;
}
.about-box .title{
	margin-bottom:20px;
	text-transform:uppercase;
	font:700 30px/45px "OpenSans",sans-serif;
	color:#5b6ceb;
}
.about-box .text{
	font:400 14px/22px "OpenSans",sans-serif;
	color:#555;
}
.about-box .foto-box-wrap{
	max-width:570px;
	width:49%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.about-box .foto-box img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.about-box .slick-slider .slick-arrow{
	width:50px;
	height:50px;
	cursor:pointer;
	background:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1); 
	z-index:10;
}
.about-box .slick-slider .slick-prev{
	left:-25px;
}
.about-box .slick-slider .slick-next{
	right:-25px;
}
.about-box .slick-slider .slick-arrow:before,
.about-box .slick-slider .slick-arrow:after{
  position:absolute;
  display: block;
  content: "";
  left:21px;
  width:10px;
  height:2px;
  opacity:1;
  background:#5b6ceb;
}
.about-box .slick-slider .slick-prev:before,
.about-box .slick-slider .slick-next:before{
  top:21px;
}
.about-box .slick-slider .slick-prev:before{
  transform:rotate(-45deg);
}
.about-box .slick-slider .slick-next:before{
  transform:rotate(45deg);
}
.about-box .slick-slider .slick-prev:after,
.about-box .slick-slider .slick-next:after{
  top:27px;
}
.about-box .slick-slider .slick-prev:after{
  transform:rotate(45deg);
}
.about-box .slick-slider .slick-next:after{
  transform:rotate(-45deg);
}
@media screen and (max-width:967px){
	.about-box .about{
		float:none;
		margin:0 auto 3%;
	}
	.about-box .foto-box-wrap{
		float:none;
		margin:0 auto;
	}
}
@media screen and (max-width:619px){
	.about-box .about{
		width:80%;
	}
	.about-box .foto-box-wrap{
		width:80%;
	}
}
/*end about-box*/
/*feature*/
.feature-box{
	padding:125px 0 75px;
	margin-bottom:100px;
	background-size:cover;
}
.feature-box .feature-list{
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:stretch;
}
.feature-box .item{
	width:23.5%;
	margin:0 0 4.3% 1.5%;
}
.feature-box .item:nth-child(4n-3){
	margin-left:0;
}
.feature-box .item .img-wrap{
	margin-bottom:25px;
}
.feature-box .item img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.feature-box .item .title{
	padding:0 30px;
	margin-bottom:16px;
	text-transform:uppercase;
	text-align:center;
	font:700 18px/27px "OpenSans",sans-serif;
	color:#fff;
}
.feature-box .item  .info{
	text-align:center;
	font:400 16px/27px "OpenSans", sans-serif;
	color:#fff;
}
@media screen and (max-width:989px){
	.feature-box .feature-list{
		justify-content:center;
	}
	.feature-box .item{
		width:32%;
		margin-left:2%;
	}
}
@media screen and (max-width:699px){
	.feature-box .feature-list{
		flex-direction:column;
		flex-wrap:nowrap;
		align-items:center;
	}
	.feature-box .item{
		width:60%;
	}
}
@media screen and (max-width:580px){
	.feature-box .item{
		width:70%;
	}
}
/*end feature*/
/*price*/
.price-box{
	margin-bottom:100px;
}
.price-box .price-wrap{
	flex-direction:row;
	justify-content:space-between;
	align-items:stretch;
}
.price-box .price{
	width:31.7%;
	margin-bottom:3%;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: 16px 17px 32px -14px rgba(238,238,238,1);
	-moz-box-shadow: 16px 17px 32px -14px rgba(238,238,238,1);
	box-shadow: 16px 17px 32px -14px rgba(238,238,238,1);
}
.price-box .price .sale{
	position:relative;
	padding:40px 0 30px;
	margin-bottom:50px;
	text-transform: uppercase;
	background:#5b6ceb;
	-webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}
.price-box .price .sale .currency{
	position:absolute;
	top:58px;
	left:105px;
	font:700 32px/36px "OpenSans",sans-serif;
	color:#fff;
}
.price-box .price .sale .amount{
	text-align: center;
	font:700 67px/75px "OpenSans",sans-serif;
	color:#fff;
}
.price-box .price .sale .month{
	position:absolute;
	top:84px;
	right:67px;
	font:700 18px/24px "OpenSans", sans-serif;
	color:#fff;
}
.price-box .list-price{
	list-style:none;
}
.price-box .list-price li{
	position:relative;
	margin-bottom:37px;
	text-transform:uppercase;
	text-align:center;
	font:400 18px/24px "OpenSans", sans-serif;
	color:#555;
}
.price-box .line:after{
	display:block;
	position:absolute;
	content:"";
	width:99px;
	height:1px;
	bottom:-20px;
	left:50%;
	margin-left:-50px;
	background:url(../images/shape_price.png) no-repeat;
}
.price-box .price .btn{
	padding:8px 0 51px;
}
.price-box .price .btn a{
	display:block;
	margin:0 auto;
	width:46%;
	font:600 18px/50px "OpenSans",sans-serif;
	color:#fff;
	text-align: center;
	text-decoration:none;
	background:#5b6ceb;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	border-radius:22px;
}
.price-box .price .btn a:hover{
	background:#5c6cd7;
}

@media screen and (max-width:1165px){
	.price-box .price-wrap{
		flex-wrap:wrap;
		justify-content:space-around;
	}
}
@media screen and (max-width:899px){
	.price-box .price-wrap{
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.price-box .price{
		width:45%;
	}
}
@media screen and (max-width:619px){
	.price-box .price-wrap{
		flex-direction:column;
		flex-wrap:nowrap;
		align-items:center;
	}
	.price-box .price{
		width:60%;
	}
}
@media screen and (max-width:540px){
	.price-box .price{
		width:70%;
	}
}
@media screen and (max-width:419px){
	.price-box .price{
		width:90%;
	}
}
/*end price*/
/*testimonial*/
.testimonial-box{
	margin-bottom:150px;
}
.testimonial-box .slider{
	padding:50px 10px 50px;
}
.testimonial-box .testimonial{
	position:relative;
}
.testimonial-box .slider{
	position:relative;
}
.testimonial-box .slider-nav-wrap{
	position:absolute;
	top:-70%;
	left:43%;
}
.testimonial-box .slider-wrap{
	width:100%;
	padding:5%;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	-webkit-box-shadow: 0px 5px 30px -3px rgba(239,239,239,1);
	-moz-box-shadow: 0px 5px 30px -3px rgba(239,239,239,1);
	box-shadow: 0px 5px 30px -3px rgba(239,239,239,1);
}
.testimonial-box .testimonial img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.testimonial-box .info-box{
	position:relative;
	width:60%;
	max-width:670px;
	margin-left:10%;
	padding: 10px 0 0;
}
.testimonial-box .info-box:after{
	display:block;
	position:absolute;
	content:"";
	width:2px;
	height:75px;
	left:-6.2%;
	bottom:0;
	background:url(../images/shape_test.png) no-repeat;
}
.testimonial-box .info-box .text{
	position:relative;
	width:100%;
	margin-bottom:25px;
	font:700 italic 14px/22px "OpenSans",sans-serif;
	color:#555;
}
/*.testimonial-box .info-box .text:after,
.testimonial-box .info-box .text:before{
	display:block;
	position:absolute;
	content:"";
	width:21px;
	height:15px;
}
.testimonial-box .info-box .text:after{
	top:-2px;
	left:-50px;
	background:url(../images/quotes.png) no-repeat;
	transform:rotate(180deg);
}
.testimonial-box .info-box .text:before{
	bottom:-25px;
	right:-50px;
	background:url(../images/quotes.png) no-repeat;
}*/
.testimonial-box .info-box .info{
	font:400 14px/22px "OpenSans",sans-serif;
	color:#777;
}
.testimonial-box .info-box .info .name{
	font:700 16px/22px "OpenSans",sans-serif;
	color:#5b6ceb;
}
.testimonial-box .slider-nav{
	max-width: 290px;
	padding:0 60px;
	-webkit-margin-left:calc( 50% - 280px );
	-moz-margin-left:calc( 50% - 280px );
	margin-left:calc( 50% - 280px );
}
.testimonial-box .slider-nav .name-wrap{
	padding:14px 0;
	margin-left:10px;
	font:400 12px/22px "OpenSans",sans-serif;
	color:#777;
}
.testimonial-box .slider-nav .name{
	font:700 14px/22px "OpenSans",sans-serif;
	color:#555;
}
.slider-nav.slick-slider .slick-arrow{
	width:30px;
	height:30px;
	cursor:pointer;
	background:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1); 
	z-index:10;
}
.slider-nav.slick-slider .slick-prev{
	left:0px;
}
.slider-nav.slick-slider .slick-next{
	right:0px;
}
.slider-nav.slick-slider .slick-arrow:before,
.slider-nav.slick-slider .slick-arrow:after{
  position:absolute;
  display: block;
  content: "";
  left:11px;
  width:10px;
  height:2px;
  opacity:1;
  background:#5b6ceb;
}
.slider-nav.slick-slider .slick-prev:before,
.slider-nav.slick-slider .slick-next:before{
  top:14px;
}
.slider-nav.slick-slider .slick-prev:before{
  transform:rotate(-45deg);
}
.slider-nav.slick-slider .slick-next:before{
  transform:rotate(45deg);
}
.slider-nav.slick-slider .slick-prev:after,
.slider-nav.slick-slider .slick-next:after{
  top:20px;
}
.slider-nav.slick-slider .slick-prev:after{
  transform:rotate(45deg);
}
.slider-nav.slick-slider .slick-next:after{
  transform:rotate(-45deg);
}

.slick-dots{
	width:30px;
	top:50%;
	right:-40px;
	margin-top:-38px;
}
.slick-dots li {
    display:block;
    margin-bottom: 18px;
}
.slick-dots li button {
    border: 2px solid #d7d7d7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.slick-dots .slick-active:after{
	position:absolute;
	content:"";
	display:block;
	width:10px;
	height:10px;
	top:50%;
	left:50%;
	margin:-5px 0 0 -5px;
	background:#5b6ceb;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.slick-dots li button:before {
    content:"";
}
.slick-dots li button:before{
	color:transparent;
}
@media screen and (max-width:1024px){
	.testimonial-box .slider-wrap{
		width:92%;
	}
}
@media screen and (max-width:787px){
	.testimonial-box .slider-wrap{
		padding:10% 5%;
	}
	.testimonial-box .img-box{
		float:none;
		width:100%;
		margin-bottom:5%;
	}
	.testimonial-box .info-box{
		float:none;
		width:100%;
		margin:0 auto 5%;
	}
	.testimonial-box .info-box:after{
		display:none;
	}
}
/*end testimonial*/
/*footer*/
.footer{
	padding:100px 0 0;
	background:#5b6ceb;
}
.footer .about-wrap,
.footer .contact-wrap{
	width:48.8%;
	max-width:570px;
	margin-bottom:100px;
}
.footer .title{
	margin-bottom:50px;
	text-transform:uppercase;
	font:700 18px/22px "OpenSans",sans-serif;
	color:#fff;
}
.footer .about-wrap .text{
	width:82.5%;
	max-width:470px;
	margin-bottom:70px;
	font:400 14px/22px "OpenSans",sans-serif;
	color:#fff;
}
.footer .social-wrap,
.footer .contact{
	list-style:none;
}
.footer .social-wrap li{
	display:inline-block;
	vertical-align: top;
	
}
.footer .social-wrap li + li{
	margin-left:20px;
}
.footer .contact{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}
.footer .contact .item{
	position:relative;
	width:35.9%;
	max-width:200px;
	padding-left:35px;
	margin-bottom:3.6%;
	font:400 14px/22px "OpenSans",sans-serif;
	color:#fff;
}
.footer .contact .item .adress,
.footer .contact .item .mail,
.footer .contact .item .phone,
.footer .contact .item .world{
	position:absolute;
	display:block;
	top:4px;
	left:0;
}
.footer .contact .adress{
	top:4px;
	left:0;
}
.footer .contact .item a{
	display:block;
	text-decoration:none;
	font:400 14px/22px "OpenSans",sans-serif;
	color:#fff;
}
.footer .copy{
	text-align:center;
	font:400 16px/100px "OpenSans",sans-serif;
	color:#b7bffc;
	background:#5363d8;
}
@media screen and (max-width:967px){
	.footer .about-wrap,
	.footer .contact-wrap{
		float:none;
		width:90%;
		margin:0 auto 8.6%;
	}
	.footer .contact .item{
		width:100%;
	}
}
@media screen and (max-width:520px){
	.footer .contact .item{
		width:100%;
	}
}
/*end footer*/


