@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato:400|Open+Sans:400,400i,700|Yeseva+One&subset=latin-ext');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width:100%;
}
.content{
	width:1250px;
	margin:0 auto;
	padding:0 40px;
}
*{
	box-sizing:border-box;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
/*header*/
.header{
	padding-bottom:142px;
	background-size:cover;
}
.header .content{
	margin-bottom:115px;
}
.header .logo-box img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.header .main .block{
	display:flex;
	flex-direction:row;
	justify-content:end;
}
.header ul{
	list-style:none;
}
.header li{
	display:inline-block;
	vertical-align:top;
	font-size:0;
}
.header .social{
	margin-left:5px;
	padding-top:47px;
}
.header .social li+li{
	margin-left:20px;
}
.header .social a{
	font-size:21px;
	color:#dab33e;
}
.header .nav a{
	display:block;
	padding:47px 16px 35px 14px;
	font:21px/25px "Gentium Book Basic Bold";
	color:#fff;
	text-decoration:none;
	border-top:3px solid transparent;
}
.header .nav a:hover{
	border-color:#eee5c8; 	
}

.header .top-banner .title{
	position:relative;
	margin:0 auto;
	padding-bottom:100px;
	max-width:790px;
	text-align: center;
	font:90px/100px "Yeseva";
	font-weight:700;
	color:#f2f1f1;
}
.header .top-banner .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:43px;
	left:50%;
	margin-left:-116px;
	width:232px;
	height:43px;
	background:url(../images/decoration.png) no-repeat;
}
.header .top-banner .btn-wrap{
	text-align: center;
}
.header .top-banner .btn{
    position: relative;
	display:inline-block;
	margin:0 15px;
	padding:20px 50px;
	font:18px/21px "Lato";
	color:#fff;
	vertical-align:top;
	text-transform:uppercase;
	text-decoration:none;
	background:#282b2c;
	border:1px solid #282b2c;
	transition:0.6s ease;
}  
.header .top-banner .btn:hover{
	background:rgba(255,255,255,0.3);
}
/*end header*/
/*about*/
.about-box{
	padding:65px 0 55px;
	background-size:cover;
}
.about-box .text-box{
	max-width:430px;
	padding-top:33px;

}
.about-box .title{
	position:relative;
	text-align:center;
	font:36px/40px "Yeseva";
	color:#cc9900;
	margin-bottom:70px;
}
.about-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/divider.png) no-repeat;
}
.about-box img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.about-box .text-box img{
	margin-left:130px;
}
.about-box .info{
	margin-bottom:50px;
	text-align:center;
	font:16px/25px "Lato";
}
/*end about*/
/*ingred-box*/
.background-box{
	background-size:cover;
}
.background-box{
	padding:100px 40px;
}
.background-box .info-box{
	max-width:570px;
	margin:0 0 0 auto;
	padding:78px 70px;
	color:#fff;
	background:rgba(0,0,0,0.67);
}
.background-box .title{
	position:relative;
	margin-bottom:65px;
	text-align:center;
	font:36px/41px "Yeseva";
	font-weight:700;
}
.background-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-39px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/divider-ing.png) no-repeat;
}
.background-box  .txt{
	margin-bottom:70px;
	padding:0 10px;
	text-align: center;
	font:16px/25px "Lato";
	word-spacing:2px;
}
.background-box img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.ingred-box .main .img-box{
	padding:0 15px;
	list-style:none;
}
.background-box .img-box li{
	display:inline-block;
}
.background-box .img-box li + li{
	margin-left:30px;
}
/*end ingred-box*/
/*menu-box*/
.menu-box{
	padding:100px 0;
	background-size:cover;
}
.menu-box .menu-list{
	width:570px;
	padding:0 55px;
}
.menu-box .section{
	margin-bottom:65px;
}
.menu-box .item{
	padding:7px 15px;
	margin-bottom:35px;
}
.menu-box .title{
	position:relative;
	margin-bottom:65px;
	text-align: center;
	font:36px/44px "Yeseva";
	color:#cc9900;
}
.menu-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/menu-div.png) no-repeat;
}

.menu-box .info-box{
	padding:7px 10px 10px 13px;
	margin-bottom:25px;
}
.menu-box .info{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-bottom:7px;
	border-bottom:1px solid #e0d1a0;
}
.menu-box .info-title,
.menu-box .info-price{
	font:21px/24px "Yeseva";
	color:#c89f2d;
}
.menu-box .text-info{
	padding-top:12px;
	font:16px/19px "Lato";
}
.menu-box .item.special{
	position:relative;
	border:1px solid #e6d9b0;
	box-sizing:none;
}
.menu-box .item.special:after{
	position:absolute;
	display: block;
	content:"";
	top:-22px;
    right:0;
	width:69px;
	height:22px;
	background:url(../images/special.png) no-repeat;	
}
/*end menu-box*/
/*reservations-box*/
.reservations-box{
	padding:100px 40px;
	background-size:cover;
}
.reservations-box .info-box{
	width:430px;
}
.reservations-box img{
	display:block;
	margin:0 30px 0 auto;
	max-width:100%;
}
.reservations-box .title{
	position:relative;
	margin-bottom:65px;
	text-align: center;
	font:36px/41px "Yeseva";
	color:#cc9900;
}
.reservations-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/reserv-div.png) no-repeat;
}
.reservations-box .txt{
	text-align: center;
	font:16px/26px "Lato";
}
.reservations-box p{
	margin-bottom:15px;
}
.reservations-box .info-box .item{
	margin-bottom:25px;
}
.reservations-box .input-box label{
	display:block;
	margin-bottom:7px;
	font:14px/16px "OpenSansBold", sans-serif;
	font-weight:700;
	color:#cca73e;
}
.reservations-box .input-wrap{
	margin-bottom:25px;
}
.reservations-box .input-wrap input,
.reservations-box .input-wrap select{
	width:200px;
	height:40px;
	padding:7px 15px;
	font:16px/18px "OpenSans", sans-serif;
	font-style:italic;
	color:#7c7c7c;
	border:1px solid #e0e0e0;
	background:#f6f7f7;
}
.reservations-box .input-box .date{
	position:relative;
}
.reservations-box .input-box .date i{
	position:absolute;
	display:block;
	top:50%;
	right:12px;
}
.reservations-box  .submit-wrap{
	text-align: center;
}
.reservations-box  .submit-wrap .btn{
	padding:10px 65px;
	font:16px/18px"OpenSans", sans-serif;
	color:#fff;
	border:none;
	background:#c9a131;
}
/*end reservations-box*/
/*footer*/
.footer{
	padding:50px 40px;
	background:#191919;
}
.footer .col-1{
	width:370px;
}
.footer .col-2,
.footer .col-3{
	width:230px;
}
.footer .col-2{
	margin-left:100px;
}
.footer .col-3{
	margin-left:170px;
}
.footer .title{
	position:relative;
	text-align:center;
	margin-bottom:55px;
	font:21px/25px "Yeseva";
	color:#fefefe;
}
.footer .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-35px;
	left:50%;
	margin-left:-100px;
	width:199px;
	height:19px;
	background:url(../images/decor.png) no-repeat;
}
.footer .info,
.footer .info-box{
	text-align: center;
	font:16px/25px "OpenSans";
	color:#fff;
	list-style:none;
}
.footer .info-box{
	margin-bottom:30px;
}
.footer .card li,
.footer .social-icon li{
	display:inline-block;
	vertical-align:top;
}
.footer .card li + li,
.footer .social-icon li + li{
	margin-left:10px;
}
.footer .card{
	text-align: center;
	font-size:16px;
	color:#fff;
	list-style:none;
}
.footer .social-icon{
	text-align: center;
}
.footer .social-icon a{
	display:block;
	font-size:16px;
	color:#fff;
}
.footer .col span{
	font-family:"OpenSansBold";
	font-weight:700;
}
.footer .main .item .social-icon {
	display:flex;
	justify-content:center;
}
/*end footer*/