@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato:400|Open+Sans:400,400i,700|Yeseva+One&subset=latin-ext');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	width:100%;
}
.content{
	max-width:1250px;
	margin:0 auto;
	padding:0 40px;
}
*{
	box-sizing:border-box;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/*header*/
.header{
	padding-bottom:142px;
	background-size:cover;
}
.header .content{
	margin-bottom:115px;
}
.header .logo-box img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.header .main .block{
	display:flex;
	flex-direction:row;
	justify-content:end;
}
.header ul{
	list-style:none;
}
.header li{
	display:inline-block;
	vertical-align:top;
	font-size:0;
}
.header .social{
	margin-left:5px;
	padding-top:47px;
}
.header .social li+li{
	margin-left:20px;
}
.header .social a{
	font-size:21px;
	color:#dab33e;
}
.header .nav a{
	display:block;
	padding:47px 16px 35px 14px;
	font:21px/25px "Gentium Book Basic Bold";
	color:#fff;
	text-decoration:none;
	border-top:3px solid transparent;
}
.header .nav a:hover{
	border-color:#eee5c8; 	
}
.header .top-banner .title{
	position:relative;
	margin:0 auto;
	padding-bottom:100px;
	max-width:790px;
	text-align: center;
	font:90px/100px "Yeseva";
	font-weight:700;
	color:#f2f1f1;
}
.header .top-banner .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:43px;
	left:50%;
	margin-left:-116px;
	width:232px;
	height:43px;
	background:url(../images/decoration.png) no-repeat;
}
.header .top-banner .btn-wrap{
	text-align: center;
}
.header .top-banner .btn{
    position: relative;
	display:inline-block;
	margin:0 15px 15px;
	padding:20px 50px;
	font:18px/21px "Lato";
	color:#fff;
	vertical-align:top;
	text-transform:uppercase;
	text-decoration:none;
	background:#282b2c;
	border:1px solid #282b2c;
	transition:0.6s ease;
}  
.header .top-banner .btn:hover{
	background:rgba(255,255,255,0.3);
}
@media screen and (max-width:679px){
	.header .top-banner .title{
		font-size:65px;
	}
}
@media screen and (max-width:480px){
	.header .top-banner .title{
		font-size:55px;
	}
}
/*end header*/
/*about*/
.about-box{
	padding:5.2% 0 4.4%;
	background-size:cover;
}
.about-box .text-box{
	width:34.4%;
	max-width:430px;
	padding-top:33px;

}
.about-box .img-box{
	max-width:535px;
	margin-left:10.4%;
}
.about-box .title{
	position:relative;
	text-align:center;
	font:36px/40px "Yeseva";
	color:#cc9900;
	margin-bottom:70px;
}
.about-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/divider.png) no-repeat;
}
.about-box img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.about-box .info{
	margin-bottom:50px;
	text-align:center;
	font:16px/25px "Lato";
}
@media screen and (max-width:1060px){
	.about-box .text-box{
		float:none;
		width:50%;
		max-width:430px;
		margin:0 auto;
	}
	.about-box .img-box{
		float:none;
		max-width:535px;
		margin:0 auto;
	}
}
@media screen and (max-width:579px){
	.about-box .text-box{
		width:80%;
	}
}
@media screen and (max-width:399px){
	.about-box .text-box{
		width:90%;
	}
}
/*end about*/
/*ingred-box*/
.background-box{
	background-size:cover;
}
.background-box{
	padding:100px 40px;
}
.background-box .info-box{
	width:46.6%;
	max-width:570px;
	margin:0 0 0 auto;
	padding:70px 5.6%;
	color:#fff;
	background:rgba(0,0,0,0.67);
}
.background-box .title{
	position:relative;
	margin-bottom:65px;
	text-align:center;
	font:36px/41px "Yeseva";
	font-weight:700;
}
.background-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-39px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/divider-ing.png) no-repeat;
}
.background-box  .txt{
	margin-bottom:70px;
	padding:0 0.8%;
	text-align: center;
	font:400 16px/25px "Lato",sans-serif;
	word-spacing:2px;
}
.background-box img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.background-box .img-box{
	justify-content:space-around;
	list-style:none;
}
.background-box .img-box .img-item{
	width:30%;
}
@media screen and (max-width:799px){
	.background-box .info-box{
		width:60%;
		padding:30px 5.6%;
	}
	.background-box .info-box .txt{
		margin-bottom:30px;
	}
}
@media screen and (max-width:679px){
	.background-box .info-box{
		width:70%;
		margin:0 auto;
	}
}
@media screen and (max-width:575px){
	.background-box{
		padding:50px 20px;
	}
	.background-box .info-box{
		width:90%;
		margin:0 auto;
	}
}
@media screen and (max-width:436px){
	.background-box{
		padding:20px 10px;
	}
	.background-box .content{
		padding:0;
	}
	.background-box .info-box{
		width:90%;
		margin:0 auto;
	}
}
/*end ingred-box*/
/*menu-box*/
.menu-box{
	padding:100px 0;
	background-size:cover;
}
.menu-box .menu-list{
	width:45.6%;
	max-width:570px;
	padding:0 55px;
}
.menu-box .section{
	margin-bottom:65px;
}
.menu-box .item{
	padding:7px 15px;
	margin-bottom:35px;
}
.menu-box .title{
	position:relative;
	margin-bottom:65px;
	text-align: center;
	font:36px/44px "Yeseva";
	color:#cc9900;
}
.menu-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/menu-div.png) no-repeat;
}

.menu-box .info-box{
	padding:7px 10px 10px 13px;
	margin-bottom:25px;
}
.menu-box .info{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-bottom:7px;
	border-bottom:1px solid #e0d1a0;
}
.menu-box .info-title,
.menu-box .info-price{
	font:21px/24px "Yeseva";
	color:#c89f2d;
}
.menu-box .text-info{
	padding-top:12px;
	font:16px/19px "Lato";
}
.menu-box .item.special{
	position:relative;
	border:1px solid #e6d9b0;
	box-sizing:none;
}
.menu-box .item.special:after{
	position:absolute;
	display: block;
	content:"";
	top:-22px;
    right:0;
	width:69px;
	height:22px;
	background:url(../images/special.png) no-repeat;	
}
@media screen and (max-width:899px){
	.menu-box .menu-list{
		width:48.6%;
		max-width:570px;
	}
}
@media screen and (max-width:829px){
	.menu-box .menu-list{
		float:none;
		width:60%;
		margin:0 auto;
		padding:0;
	}
}
@media screen and (max-width:679px){
	.menu-box .menu-list{
		float:none;
		width:70%;
		margin:0 auto;
	}
}
@media screen and (max-width:579px){
	.menu-box .menu-list{
		float:none;
		width:90%;
		margin:0 auto;
	}
}
@media screen and (max-width:399px){
	.menu-box{
		padding:30px 0;
	}
	.menu-box .content{
		padding:0 15px;
	}
	.menu-box .menu-list{
		float:none;
		width:90%;
		margin:0 auto;
	}
}
/*end menu-box*/
/*review-box*/
.review-box{
	background-size:cover;
	background-position:50% 50%;
}
.review-box{
	padding:100px 40px;
}
.review-box .info-box{
	width:61.6%;
	max-width:770px;
	margin:0 auto;
	padding:70px 5.6%;
	color:#fff;
	background:rgba(0,0,0,0.67);
}
.review-box .title{
	position:relative;
	margin-bottom:65px;
	text-align:center;
	font:36px/41px "Yeseva";
	font-weight:700;
}
.review-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-39px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/divider-ing.png) no-repeat;
}
.review-box  .txt{
	margin-bottom:70px;
	padding:0 0.8%;
	text-align: center;
	font:400 16px/25px "Lato",sans-serif;
	word-spacing:2px;
}
.review-box .author{
	text-align:center;
	font:400 16px/25px "Lato",sans-serif;
}
@media screen and (max-width:759px){
	.review-box .content{
		padding:0 15px;
	}
	.review-box .info-box{
		width:70%;
	}
}
@media screen and (max-width:579px){
	.review-box .info-box{
		width:80%;
	}
}
@media screen and (max-width:479px){
	.review-box{
		padding:30px 0;
	}
	.review-box .info-box{
		width:90%;
	}
}
/*end review-box*/
/*reservations-box*/
.reservations-box{
	padding:100px 40px;
	background-size:cover;
}
.reservations-box .info-box{
	width:39.8%;
	max-width:430px;
}
.reservations-box .img-wrap{
	width:57%;
	max-width:600px;
}
.reservations-box img{
	display:block;
	margin:0 4% 0 auto;
	max-width:100%;
}
.reservations-box .title{
	position:relative;
	margin-bottom:65px;
	text-align: center;
	font:36px/41px "Yeseva";
	color:#cc9900;
}
.reservations-box .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-36px;
	left:50%;
	margin-left:-123px;
	width:247px;
	height:24px;
	background:url(../images/reserv-div.png) no-repeat;
}
.reservations-box .txt{
	text-align: center;
	font:16px/26px "Lato";
}
.reservations-box p{
	margin-bottom:15px;
}
.reservations-box .info-box .item{
	margin-bottom:25px;
}
.reservations-box .input-box label{
	display:block;
	margin-bottom:7px;
	font:14px/16px "OpenSansBold", sans-serif;
	font-weight:700;
	color:#cca73e;
}
.reservations-box .input-wrap{
	margin-bottom:25px;
}
.reservations-box .input-box{
	max-width:430px;
}
.reservations-box .input-wrap input,
.reservations-box .input-wrap select{
	width:200px;
	height:40px;
	padding:7px 15px;
	font:16px/18px "OpenSans", sans-serif;
	font-style:italic;
	color:#7c7c7c;
	border:1px solid #e0e0e0;
	background:#f6f7f7;
}
.reservations-box .input-box .date{
	position:relative;
}
.reservations-box .input-box .date i{
	position:absolute;
	display:block;
	top:50%;
	right:12px;
}
.reservations-box  .submit-wrap{
	text-align: center;
}
.reservations-box  .submit-wrap .btn{
	width:200px;
	font:16px/36px"OpenSans", sans-serif;
	color:#fff;
	border:none;
	background:#c9a131;
}
@media screen and (max-width:1189px){
	.reservations-box .input-wrap,
	.reservations-box .input-wrap{
		float:none;
		width:200px;
		margin:0 auto 25px;
	}
	.reservations-box img{
		display:block;
		margin-bottom:20px;
		max-width:100%;
	}
}
@media screen and (max-width:779px){
	.reservations-box .info-box{
		float:none;
		width:100%;
		max-width:430px;
		margin: 0 auto;
	}
	.reservations-box .img-wrap{
		display:none;
	}
	.reservations-box .input-wrap,
	.reservations-box .input-wrap{
		width:200px;
		margin:0 auto 25px;
	}
	.reservations-box .input-wrap.text{
		float:left;
	}
	.reservations-box .input-wrap.email{
		float:right;
	}
	.reservations-box .input-wrap.date{
		float:left;
	}
	.reservations-box .input-wrap.number{
		float:right;
	}
}
@media screen and (max-width:569px){
	.reservations-box .content{
		padding:0 15px;
	}
}
@media screen and (max-width:519px){
	.reservations-box .input-wrap.text,
	.reservations-box .input-wrap.email,
	.reservations-box .input-wrap.date,
	.reservations-box .input-wrap.number{
		float:none;
	}
}
/*end reservations-box*/
/*footer*/
.footer{
	padding:50px 40px;
	background:#191919;
}
.footer .col-1{
	width:31.7%;
	max-width:370px;
}
.footer .col-2,
.footer .col-3{
	width:19.7%;
	max-width:230px;
}
.footer .col-2{
	margin-left:8.5%;
}
.footer .col-3{
	margin-left:20px;
}
.footer .title{
	position:relative;
	text-align:center;
	margin-bottom:55px;
	font:21px/25px "Yeseva";
	color:#fefefe;
}
.footer .title:after{
	display:block;
	position:absolute;
	content:"";
	bottom:-35px;
	left:50%;
	margin-left:-100px;
	width:199px;
	height:19px;
	background:url(../images/decor.png) no-repeat;
}
.footer .info,
.footer .info-box{
	text-align: center;
	font:16px/25px "OpenSans";
	color:#fff;
	list-style:none;
}
.footer .info-box{
	margin-bottom:30px;
}
.footer .card li,
.footer .social-icon li{
	display:inline-block;
	vertical-align:top;
}
.footer .card li + li,
.footer .social-icon li + li{
	margin-left:10px;
}
.footer .card{
	text-align: center;
	font-size:16px;
	color:#fff;
	list-style:none;
}
.footer .social-icon{
	text-align: center;
}
.footer .social-icon a{
	display:block;
	font-size:16px;
	color:#fff;
}
.footer .col span{
	font-family:"OpenSansBold";
	font-weight:700;
}
.footer .main .item .social-icon {
	display:flex;
	justify-content:center;
}
@media screen and (max-width:1023px){
	.footer .col-1,
	.footer .col-2,
	.footer .col-3{
		float:none;
		width:100%;
		margin:0 auto 40px;
	}	
}
@media screen and (max-width:580px){
	.footer .content{
		padding:0 15px;
	}	
}
/*end footer*/

