@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, p, ul, ol {
  font:400 15px/21px 'Roboto Condensed', sans-serif; }

body {
  min-width: 320px;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
.left{
  float:left;
}
.right{
  float:right;
}
.clear:after{
  display:block;
  content:"";
  clear:both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-title{
  position:relative;
  text-align:center;
  font-size:40px;
  font-weight:700;
  line-height:48px;
  color:#222;
  text-transform:uppercase;
  padding-bottom:11px;
  margin-bottom:60px;
}
.main-title:after{
  position:absolute;
  display:block;
  content:"";
  bottom:0;
  left:50%;
  width:57px;
  height:2px;
  transform:translateX(-50%);
  background:#81d742;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/*slick-slide*/
.slick-slider .slick-arrow{
  width:16px;
  height:49px;
  cursor:pointer;
  z-index:10;
}
.slick-slider .slick-prev{
  left:-10px;
}
.slick-slider .slick-next{
  right:-10px;
}
.slick-slider .slick-arrow:before,
.slick-slider .slick-arrow:after{
  position:absolute;
  display: block;
  content: "";
  left:7px;
  width:2px;
  height:27px;
  opacity:1;
  background:#dedede;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before{
  top:0;
}
.slick-slider .slick-prev:before{
  transform:rotate(30deg);
}
.slick-slider .slick-next:before{
  transform:rotate(-30deg);
}
.slick-slider .slick-prev:after,
.slick-slider .slick-next:after{
  top:23px;
}
.slick-slider .slick-prev:after{
  transform:rotate(-30deg);
}
.slick-slider .slick-next:after{
  transform:rotate(30deg);
}
/*end slick-slide*/
/*arrow*/
.fa-arrow{
  position:absolute;
  display:block;
  width:8px;
  height:13px;
}
.fa-arrow:after,
.fa-arrow:before{
  position:absolute;
  display:block;
  content:"";
}
.fa-arrow:after{
  width:2px;
  height:8px;
  top:0px;
  left:3px;
  background:#222;
}
.fa-arrow:before{
  width: 0;
  height: 0;
  left:0;
  top: 8px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #222 transparent transparent transparent;
}
/*end arrow*/
/*header*/
.mob-btn{
  display:none;
  position:absolute;
  bottom:20px;
  left:20px;
  width:58px;
  height:44px;
  background:transparent;
  padding:21px 11px 20px;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.mob-btn div {
  text-indent: -9999px;
  height: 5px;
  display: block;
  background: #fff;
  position: relative;
  -moz-transition: background 0.3s 0s;
  -o-transition: background 0.3s 0s;
  -webkit-transition: background 0.3s;
  -webkit-transition-delay: 0s;
  transition: background 0.3s 0s;
}
.mob-btn:hover div{
  background:#81d742;
}
.mob-btn div:before, .mob-btn div:after{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 5px;
  z-index: 1;
  background: #fff;
  -moz-transition-delay: 0.3s, 0s, 0s;
  -o-transition-delay: 0.3s, 0s, 0s;
  -webkit-transition-delay: 0.3s, 0s, 0s;
  transition-delay: 0.3s, 0s, 0s;
  -moz-transition-duration: 0.3s, 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s, 0.3s;
  -webkit-transition-duration: 0.3s, 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s, 0.3s;
}
.mob-btn:hover div:before, .mob-btn:hover div:after{
  background:#81d742;
}
.mob-btn div:before {
  top: -9px;
  -moz-transition-property: top, -moz-transform, background;
  -o-transition-property: top, -o-transform, background;
  -webkit-transition-property: top, -webkit-transform, background;
  transition-property: top, transform, background;
}
.mob-btn div:after {
  bottom: -9px;
  -moz-transition-property: bottom, -moz-transform, background;
  -o-transition-property: bottom, -o-transform, background;
  -webkit-transition-property: bottom, -webkit-transform, background;
  transition-property: bottom, transform, background;
}
.mob-btn.active div {
  background:transparent;
}
.mob-btn.active div:before, .mob-btn.active div:after {
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.mob-btn.active div:before {
  top: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mob-btn.active div:after {
  bottom: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layout {
  display: none;
  position: fixed;
  left: 0;
  top: -100px;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
.header .row{
  -webkit-align-items:center;
  align-items:center;
}
.header{
  position:relative;
  z-index:5;
  padding:30px 0 17px;
  background:#222;
}
.header ul{
  list-style:none;
}
.logo{
  padding-top:22px;
}
.logo a{
  position:relative;
  display:block;
  max-width:280px;
}
.logo img{
  display:block;
  max-width:100%;
  margin:0 auto;
}
.slogan{
  position:absolute;
  display:block;
  bottom:-5px;
  right:0;
  color:#fff;
  font-size:12px;
  letter-spacing:1px;
  text-transform:uppercase;
}
.header-top{
  margin-bottom:40px;
  justify-content:space-between;
  align-items:flex-start;
}
.drop-down{
  position:relative;
}
.drop-down a{
  position:relative;
  display:block;
  color:#32b4e6;
  text-decoration:none;
  padding-right:24px;
}
.mail a{
  color:#6eb33c;
}
.drop-down ul{
  display:none;
  position:absolute;
  padding:5px 10px;
  top:22px;
  left:0;
  right:0;
  background:#32b4e6;
  border-top:2px solid #fff;
  z-index:5;
}
.drop-down ul a{
  padding:0;
}
.drop-down .mail-list{
  background:#81d742;
}
.drop-down:hover ul{
  display:block;
}
.drop-down:hover .fa-arrow{
  transform:rotate(180deg);
}
.drop-down ul li a{
  color:#253f49;
}
.drop-down .fa-arrow{
  top:3px;
  right:8px;
}
.drop-down .fa-arrow:after{
  background:#32b4e6;
}
.drop-down .fa-arrow:before{
  border-color: #32b4e6 transparent transparent transparent;
}
.drop-down.mail .fa-arrow:after{
  background:#81d742;
}
.drop-down.mail .fa-arrow:before{
  border-color:#81d742 transparent transparent transparent;
}
.top-list{
  font-size:0px;
}
.top-list *{
  font-size:16px;
}
.top-list li{
  display:inline-block;
  vertical-align:top;
  margin-right:10px;
}
.top-list li a{
  display:block;
  color:#797979;
  text-decoration:none;
  border-bottom:1px dashed #797979;
}
.top-list li a:hover{
  color:#fff;
  border-color:#fff;
}
.top-list li a.active{
  color:#fff;
  border-color:transparent;
}
.top-nav{
  text-align:right;
  font-size:0px;
}
.top-nav *{
  font-size:15px;
}
.top-nav li{
  display:inline-block;
  vertical-align:top;
}
.top-nav li + li{
  margin-left:35px;
}
.top-nav > li > a{
  display:block;
  color:#fff;
  padding:13px 0;
  font-size:15px;
  text-decoration:none;
  text-transform:uppercase;
  cursor:pointer;
}
.top-nav > li > a:hover,
.top-nav > li > a.active{
  color:#81d742;
}
.top-nav > li{
  position:relative;
}
.top-nav > li:after{
  display:block;
  position:absolute;
  content:'';
  bottom:2px;
  left:50%;
  width:50%;
  height:2px;
  transform:translateX(-50%);
  background:transparent;
}
.top-nav > li:hover:after{
  background:#fff;
}
.sub-menu-wrap .sub-menu{
  display:none;
  position:absolute;
  top:100%;
  left:-50px;
  min-width:192px;
  background:#81d742;
  padding:22px 0 16px;
  text-align: left;
  list-style:none;
  z-index:3;
}
.sub-menu-wrap:hover .sub-menu{
  display:block;
}
.top-nav .sub-menu li + li{
  margin-left:0;
}
.top-nav .sub-menu-wrap li{
  display:block;
  margin-bottom:8px;
}
.sub-menu-wrap .sub-menu a{
  display:block;
  position:relative;
  padding:2px 5px 2px 38px;
  color:#222;
}
.sub-menu-wrap .sub-menu a:hover{
  color:#fff;
}
.sub-menu .fa-arrow{
  transform:rotate(-90deg);
  left:16px;
  top:5px;
}
.sub-menu .fa-arrow:before{
  border-color:#fff transparent transparent transparent;
}
.sub-menu .fa-arrow:after{
  background:#fff;
}
.sub-menu a:hover .fa-arrow:before{
  border-color:#222 transparent transparent transparent;
}
.sub-menu a:hover .fa-arrow:after{
  background:#222;
}
/*end header*/
/*service*/
.services-wrap{
  padding:74px 0 34px;
}
.services-wrap .img-wrap{
  margin-bottom:26px;
}
.services-wrap .img-wrap img{
  display:block;
  max-width:100%;
  margin:0 auto;
}
.services-wrap .item{
  margin-bottom:42px;
  text-align:center;
}
.services-wrap .service-title{
  position:relative;
  font-size:16px;
  font-weight:700;
  line-height:24px;
  color:#222;
  text-transform:uppercase;
  padding-bottom:5px;
  margin-bottom:27px;
}
.services-wrap .service-title:after{
  position:absolute;
  display:block;
  content:"";
  bottom:0;
  left:50%;
  width:57px;
  height:2px;
  transform:translateX(-50%);
  background:#81d742;
}
.services-wrap .service-text,
.services-wrap .service-text p{
  margin:0;
  color:#999;
}
/**/
/**/
.portfolio-wrap{
  background:url(../images/portf-bg.png)  50% no-repeat;
  background-size:cover;
}
.portfolio-wrap .top-portf{
  padding:70px 0 30px;
  background:rgba(129,215,66,.85);
}
.portfolio-wrap .main-portf{
  padding:80px 0 60px;
  background:rgba(34,34,34,.90);
}
.portfolio-wrap .bottom-portf{
  padding:30px 0;
  background:rgba(129,215,66,.85);
}
.portfolio-wrap .main-title{
  margin-bottom:28px;
}
.portfolio-wrap .main-title:after{
  background:#fff;
}
.portfolio-wrap .btn{
  display:inline-block;
  vertical-align:top;
  font-size:16px;
  line-height:18px;
  font-weight:700;
  color:#81d742;
  padding:10px 28px;
  border:1px solid #81d742;
  border-radius:0;
}
.portfolio-wrap .btn:hover{
  background:#81d742;
  color:#222;
}
.portfolio-wrap .port-btn-wrap{
  text-align: center;
}
.portfolio-wrap .port-btn-wrap .btn{
  padding:13px 23px;
  font-size:18px;
  line-height:20px;
  color:#222;
  border-color:#222;
}
.portfolio-wrap .port-btn-wrap .btn:hover{
  background:#222;
  color:#fff;
}
.portf-nav{
  text-align:center;
}
.portf-nav .ui-tabs-nav{
  list-style:none;
}
.portf-nav .ui-tabs-nav li{
  display:inline-block;
  vertical-align:top;
}
.portf-nav .ui-tabs-nav li + li{
  margin-left:28px;
}
.portf-nav .ui-tabs-nav a{
  color:#222;
  line-height:1.1;
  border-bottom:1px dashed #222;
}
.portf-nav .ui-tabs-nav .ui-state-active a,
.portf-nav .ui-tabs-nav a:hover{
  text-decoration:none;
  color:#fff;
  border-bottom-color:#fff;
}
.portf-nav .ui-tabs-nav a:focus{
  text-decoration: none;
}
.port-list .slick-slide{
  padding:0 15px;
  text-align: center;
}
.port-list .img-wrap{
  display:block;
  margin-bottom:25px;
}
.port-list .img-wrap img{
  display:block;
  max-width:100%;
  margin: 0 auto;
}
.port-list .title{
  position:relative;
  font-size:16px;
  font-weight:700;
  line-height:24px;
  color:#81d742;
  text-transform:uppercase;
  padding-bottom:7px;
  margin-bottom:25px;
}
.port-list .title:after{
  position:absolute;
  display:block;
  content:"";
  bottom:0;
  left:50%;
  width:39px;
  height:1px;
  transform:translateX(-50%);
  background:#81d742;
}
.port-list .port-list-info{
  padding:0 5px;
  margin-bottom:24px;
}
.port-list .port-list-info,
.port-list .port-list-info p{
  font-size:15px;
  line-height:21px;
  color:#fff;
}
.port-list .port-list-info p{
  margin:0;
}
/**/
/**/
.benefits-wrap{
  padding:75px 0 25px;
}
.benefits-wrap .main-title{
  margin-bottom:73px;
}
.benefits-wrap .item{
  margin-bottom:50px;
}
.benefits-wrap .title{
  position:relative;
  line-height:1.5;
  font-weight:700;
  color:#222;
  text-transform:uppercase;
  padding:2px 0 2px 47px;
  margin-bottom:18px;
}
.benefits-wrap .title:after{
  position:absolute;
  display:block;
  content:"";
  left:0;
  top:-7px;
  width:40px;
  height:36px;
  background:url(../images/benefits-ul.png) no-repeat;
}
.benefits-wrap .info,
.benefits-wrap .info p{
  font-size:15px;
  line-height:21px;
  color:#999;
  margin:0;
}
/**/
/**/
.about-wrap{
  padding:75px 0 46px;
  background:url(../images/about-bg.png) no-repeat;
  background-size:cover;
}
.about-wrap .main-title:after{
  background:#fff;
}
.about-wrap .info p{
  color:#fff;
  font-size:15px;
  line-height:21px;
  margin:0 0 21px;
}
/*client-wrap*/
.client-wrap{
  padding:65px 0;
}
.client-wrap .logo-list img{
  display:block;
  max-width:100%;
  margin:0 auto;
}
/*end client-wrap*/
/*testimonials*/
.testimonials-wrap{
  padding:73px 0;
  color:#fff;
  background:url(../images/bg-testimonials.png) 50% no-repeat;
  background-size:cover;
}
.testimonials-wrap .main-title{
  color:#fff;
  font-size:40px;
}
.testimonials-list .author{
  position:relative;
  text-align:center;
  color:#81d742;
  margin-bottom:25px;
}
.testimonials-list .author:after{
  position:absolute;
  display:block;
  content:"";
  bottom:-8px;
  left: 50%;
  width:39px;
  height:1px;
  transform: translateX(-50%);
  background: #81d742;
}
.testimonials-list .author span{
  display:block;
}
.testimonials-list .img-wrap{
  margin-bottom:15px;
}
.testimonials-list .company{
  color:#81d742;
  text-align:center;
}
.testimonials-list .img-wrap img{
  display:block;
  max-width:100%;
  margin:0 auto;
}
.testimonial{
  padding:0 10px;
}
.testimonial p{
  text-align:center;
  margin-bottom:20px;
}
/*end testimonials*/
/*footer*/
.footer{
  padding:54px 0 50px;
  background:#222;
}
.footer .row{
  justify-content:space-between;
  align-items:stretch;
}
.footer .col-xl-7{
 align-self:center;
}
.footer .top-nav{
  display:block!important;
}
.footer ul{
  list-style:none;
}
.footer .top-nav{
  text-align: center;
}
.copy-wrap{
  text-align: right;
}
.copy{
  display:inline-block;
  vertical-align:top;
  color:#999;
}
.footer-info{
  text-align:right;
}
.footer .drop-down{
  max-width:200px;
  margin-left:auto;
}
.footer-info ul{
  text-align:left;
}
.footer .drop-down > a{
  padding-right: 12px;
}
.footer .drop-down.tel > a{
  font-size: 18px;
}
.footer .drop-down ul{
  top: auto;
  bottom: 100%;
  border-bottom: 2px solid #fff;
  border-top: 0;
}
.footer .drop-down .fa-arrow {
  right: 0px;
}
/*end footer*/
@media screen and  (max-width:991px){
  .logo a{
    margin:0 auto 10px;
  }
  .top-nav{
    text-align:center;
  }
  .header-top{
    margin-bottom:10px;
  }
}
@media screen and (min-width: 769px) {
  .top-nav{
    display:block!important;
  }
  .layout{
    display:none!important;
  }
}
@media screen and  (max-width:768px){
  .mob-btn {
    display:block;
  }
  .header .container{
    position:static;
  }
  .header-right{
    position:static;
  }
  .header .drop-down{
    display:inline-block;
    vertical-align:top;
    width:150px;
    margin-bottom:15px;
  }
  .header .top-list{
    display:inline-block;
    vertical-align:top;
    margin-bottom:15px;
  }
  .header .top-list + .top-list{
    position:relative;
    margin-left:30px;
  }
  .header .top-list + .top-list:before{
    position:absolute;
    display:block;
    content:"|";
    color:#797979;
    top:0;
    left:-22px;
    font-size:16px;
  }
  .header-top{
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    max-width:310px;
    margin:0 auto 50px;
  }
  .header .top-nav{
    display:none;
    position:absolute;
    top:90%;
    left:0;
    right:0;
    background:#222;
  }
  .header .top-nav li{
    display:block;
  }
  .header .top-nav li + li{
    margin-left:0;
  }
  .sub-menu-wrap .sub-menu{
    display:block;
    position:static;
    left:50%;
  }
  .sub-menu-wrap .sub-menu li{
    text-align:center;
  }
  .sub-menu-wrap .sub-menu a{
    display:inline-block;
    vertical-align:top;
  }
  .header .top-nav > li:hover:after{
    background:transparent;
  }
  .portf-nav .ui-tabs-nav li + li{
    margin-left:15px;
  }
  .footer-info{
    text-align:center;
  }
  .footer .drop-down{
    display:inline-block;
    vertical-align:top;
    margin:0 5px 15px;
    padding:5px 10px;
  }
  .footer .drop-down ul{
    display:block;
    position:static;
    padding:0;
  }
  .footer .drop-down > a,
  .footer .drop-down.tel > a{
    font-size:15px;
    color:#253f49;
    padding-right:0;
  }
  .footer .drop-down > a .fa-arrow{
    display:none;
  }
  .footer .tel{
    background:#32b4e6;
    /*padding:5px 10px;*/
  }
  .footer .mail{
    background:#81d742;
    
  }
}
@media screen and  (max-width:600px){
  .logo{
    padding-top:0;
    margin-bottom:15px;
  }
  .footer .top-nav{
    margin-bottom:15px;
  }
  .footer .top-nav li{
    margin:0 5px 5px!important;
  }
  .footer .top-nav > li > a{
    padding:0;
  }
}
@media screen and  (max-width:400px){
  .header-top{
    display:block;
  }
  .header .drop-down{
    display:block;
    margin:0 auto 10px;
  }
  .portf-nav .ui-tabs-nav li{
    display:block;
    margin-bottom:10px;
  }
  .portf-nav .ui-tabs-nav li + li{
    margin-left:0;
  }
  .footer .drop-down{
    margin:0 0 15px;
  }
}