@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('../fonts/beast-vs-spreadtall.otf');
@import url('../fonts/Trebuchet MS Bold.otf');
@import url('../fonts/Trebuchet MS.otf');
@import url('../fonts/TahomaRegular.otf');
@import url('../fonts/Tahoma Bold.otf');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	position:relative;
	background:#fbfbfb;
}
.wrapper{
	overflow:hidden;
}
.top-bg, .bottom-bg{
	position:absolute;
	display:block;
	width:100%;
	left:0;
	right:0;
	z-index:-2;
}
.top-bg{
	top:0;
}
.bottom-bg{
	bottom:0;
}
.top-bg img,.bottom-bg img{
	display:block;
	width:100%;
}
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.content{
	width:1045px;
	margin:0 auto;
	padding:0px 18px 0px;
}
/*header*/
.header{
	margin:0 auto;
	padding:29px 0px;
}
.logo-box{
	position:relative;
}
.logo-box a{
	display:block;
	text-decoration:none;
}
.logo-box .baner{
	position:absolute;
	display:block;
	top: -10px;
    left: 0;
    z-index:3;
}
.logo-box .logo{
	margin-top:43px;
}
.logo-box .slogan{
	margin-left:5px;
	vertical-align:top;
	font-family:'beast-vs-spreadtall', sans-serif;
	font-size:24px;
	letter-spacing:1px;
	text-shadow: 0px 3px 0px rgba(255, 255, 255, 1);
	color:#5c5c5c;
}
.top-contact{
	padding:5px 10px 32px;
}
.top-contact .title{
	display:inline-block;
	font-family:'Trebuchet MS Bold',sans-serif;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	color:#626262;
}
.top-contact li{
	list-style:none;
}
.top-phones a{
	display:block;
	text-decoration:none;
	text-align:center;
	font-family:'beast-vs-spreadtall', sans-serif;
	font-size:30px;
	color:#ff8f00;
}
.top-phones i{
	color:#8b8b8b;
}
.top-links a{
	display:block;
	text-decoration:none;
	color:#fcfcfc;
	font-family:'Tahoma Bold.otf',sans-serif;
	font-size:14px;
	font-weight:600;
}
.top-links .consult{
	position:relative;
	display:inline-block;
}
.top-links .consult a{
	padding:5px;
	text-align:center;
	background:#36d01e;
	border:1px solid #fff;
	border-radius:10px 0px 0px 0px;
	-moz-border-radius:10px 0px 0px 0px;
	-webkit-border-radius:10px 0px 0px 0px;
	box-shadow:0px 0px 0px 2px #36d01e;
	-moz-box-shadow:0px 0px 0px 2px #36d01e;
	-webkit-box-shadow:0px 0px 0px 2px #36d01e;
}
.top-links .consult a:after{
	content:"";
	display:block;
	position:absolute;
	right: 1px;
    top: 17px;
    width: 28px;
    height: 18px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 2px #36d01e;
    transform: skew(6deg,-27deg);
    background: #36d01e;
}
/*end header*/