@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
	font-family: 'TahomaR';
	src: url('../fonts/TahomaR.eot');
	src: local('☺'), url('../fonts/TahomaR.woff') format('woff'), url('../fonts/TahomaR.ttf') format('truetype'), url('../fonts/TahomaR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'beast';
	src: url('../fonts/beast.eot');
	src: local('☺'), url('../fonts/beast.woff') format('woff'), url('../fonts/beast.ttf') format('truetype'), url('../fonts/beast.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TahomaB';
	src: url('../fonts/TahomaB.eot');
	src: local('☺'), url('../fonts/TahomaB.woff') format('woff'), url('../fonts/TahomaB.ttf') format('truetype'), url('../fonts/TahomaB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Trebuchet';
	src: url('../fonts/Trebuchet.eot');
	src: local('☺'), url('../fonts/Trebuchet.woff') format('woff'), url('../fonts/Trebuchet.ttf') format('truetype'), url('../fonts/Trebuchet.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TrebuchetB';
	src: url('../fonts/TrebuchetB.eot');
	src: local('☺'), url('../fonts/TrebuchetB.woff') format('woff'), url('../fonts/TrebuchetB.ttf') format('truetype'), url('../fonts/TrebuchetB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	position:relative;
	background:#fbfbfb;
	font:13px/18px 'TahomaR',Arial,sans-serif;
}
p{
	font:13px/18px 'TahomaR',Arial,sans-serif;
	color:#414141;
}
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.content{
	width:1045px;
	margin:0 auto;
	padding:0px 18px 0px;
}
.wrapper{
	overflow:hidden;
}
.top-bg, .bottom-bg{
	position:absolute;
	display:block;
	width:100%;
	left:0;
	right:0;
	z-index:-2;
}
.top-bg{
	top:0;
}
.bottom-bg{
	bottom:0;
}
.top-bg img,.bottom-bg img{
	display:block;
	width:100%;
}
/*header*/
.header{
	margin:0 auto;
	padding:29px 0px;
}
.top-header{
	padding-bottom:29px;
	width:995px;
	margin:0 auto;
}
.logo-box{
	position:relative;
	width:410px;
}
.logo-box:before{
	position:absolute;
	display:block;
	content:"";
	top:-14px;
	left:0;
	width:3px;
	height:138px;
	background:url(../images/head-left-band.png) no-repeat;
}
.logo-box a{
	display:block;
	text-decoration:none;
}
.logo-box .baner{
	position:absolute;
	display:block;
	top: -10px;
    left: -4px;
    z-index:3;
}
.logo-box .logo{
	margin:43px 0 0 9px;

}
.logo-box .slogan{
	margin-left:5px;
	vertical-align:top;
	font:24px/42px 'beast', sans-serif;
	letter-spacing:1px;
	text-shadow: 0px 3px 0px rgba(255, 255, 255, 1);
	color:#5c5c5c;
}
.top-contact{
	position:relative;
	padding:5px 10px 0;
	width:240px;
}
.top-phones:before,
.top-phones:after{
	position:absolute;
	display:block;
	content:"";
	top:0;
	width:6px;
	height:98px;
	background:url(../images/header-band.png) no-repeat;
}
.top-phones:before{
	left:0;
}
.top-phones:after{
	right:0;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}
.top-contact .title{
	text-align:center;
	font:14px/30px 'TrebuchetB',sans-serif;
	text-transform:uppercase;
	color:#626262;
}
.top-contact li{
	list-style:none;
}
.top-phones a{
	display:block;
	text-decoration:none;
	text-align:center;
	font:30px/30px 'Source Sans Pro', sans-serif;;
	letter-spacing:-2px;
	color:#ff8f00;
}
.top-phones i{
	color:#8b8b8b;
}
.top-links{
	padding:10px 20px 0 27px;
}
.top-links a{
	display:block;
	text-decoration:none;
	color:#fcfcfc;
	font:14px/20px 'TahomaB',sans-serif;
}
.top-links .consult{
	position:relative;
	display:inline-block;
	vertical-align:top;
	max-width:171px;
}
.top-links .consult a{
	display:block;
	position:relative;
	padding:3px 11px 4px;
	text-align:center;
	background:#30ba1b;
	border:1px solid #d5f0d1;
	-webkit-border-radius:10px 0px 11px 0px;
	-moz-border-radius:10px 0px 11px 0px;
	border-radius:7px 0px 11px 0px;
	-webkit-box-shadow:0px 0px 0px 1px #30ba1b;
	-moz-box-shadow:0px 0px 0px 1px #30ba1b;
	box-shadow:0px 0px 0px 1px #30ba1b;
}
.top-links .consult a:after{
	position:absolute;
	display:block;
	content:"";
	bottom:-23px;
	right:-2px;
	width:37px;
	height:28px;
	background:url(../images/head-green-btn.png) no-repeat;
}
.top-links .consult-skype{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-left:35px;
}
.top-links .consult-skype:before{
	position:absolute;
	display:block;
	content:"";
	top:0;
	left:-16px;
	width:6px;
	height:32px;
	background:url(../images/skype-border.png) no-repeat;
}
.top-links .consult-skype a{
	display:block;
	position:relative;
	padding:3px 8px 4px 38px;
	text-align:center;
	background:#00a6e4;
	border:1px solid #ccedf9;
	-webkit-border-radius:10px 0px 11px 0px;
	-moz-border-radius:10px 0px 11px 0px;
	border-radius:7px 0px 11px 0px;
	-webkit-box-shadow:0px 0px 0px 1px #00a6e4;
	-moz-box-shadow:0px 0px 0px 1px #00a6e4;
	box-shadow:0px 0px 0px 1px #00a6e4;
}
.top-links .consult-skype a:after, 
.top-links .consult-skype a:before{
	position:absolute;
	display:block;
	content:"";
}
.top-links .consult-skype a:after{
	bottom:-24px;
	right:-1px;
	width:36px;
	height:28px;
	background:url(../images/blue-bottom-btn.png) no-repeat;
}
.top-links .consult-skype a:before{
	top:1px;
	left:5px;
	width:24px;
	height:25px;
	z-index:2;
	background:url(../images/skype.png) no-repeat;
}
.top-links .consult-skype span{
	position:relative;
	text-decoration:underline;
}
.nav-wrap .nav{
	width:100%;
	display:table;
	background:#5aba3c;
	border:1px solid #cdf0c3;
	-webkit-border-radius:7px 0 7px 0;
	-moz-border-radius:7px 0 7px 0;
	border-radius:7px 0 7px 0;
	-webkit-box-shadow: 0px 0px 0px 1px #5aba3c;
	-moz-box-shadow: 0px 0px 0px 1px #5aba3c;
	box-shadow: 0px 0px 0px 1px #5aba3c;
}
.nav-wrap .nav > li{
	display:table-cell;
	vertical-align:top;
}
.nav-wrap .nav > li.sub-nav{
	position:relative;
}
.nav-wrap .nav > li + li{
	position:relative;
}
.nav-wrap .nav > li + li:after{
	position:absolute;
	display:block;
	content:"";
	top:3px;
	left:-2px;
	width:3px;
	height:25px;
	background:url(../images/nav-separeter.png) no-repeat;
}
.nav-wrap .nav > li > a{
	display:block;
	padding:6px 5px 8px;
	text-align:center;
	text-decoration:none;
	font:14px/18px "TahomaR";
	color:#fff;
	background:transparent;
}
.nav-wrap .nav > li:first-child > a{
	-webkit-border-radius:7px 0 0 0;
	-moz-border-radius:7px 0 0 0;
	border-radius:7px 0 0 0;
}
.nav-wrap .nav > li:last-child > a{
	-webkit-border-radius:0 0 7px 0;
	-moz-border-radius:0 0 7px 0;
	border-radius:0 0 7px 0;
}
.nav-wrap .nav > li > a:hover,
.nav-wrap .nav > li > a.active{
	background:#fe9917;
}
.nav-wrap .nav img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.nav-wrap .sub-menu{
	display:none;
	position:absolute;
	left:0;
	width:868px;
	top:100%;
	padding:12px 0 0 10px;
	z-index:3;
}
.nav-wrap .sub-nav:hover .sub-menu{
	display:block;
}
.nav-wrap .sub-menu ul{
	position:relative;
	list-style:none;
	background:#2ea718;
	font-size:0;
	border:1px solid #c1e5ba;
	-webkit-box-shadow: 0px 0px 0px 2px #2ea718;
	-moz-box-shadow: 0px 0px 0px 2px #2ea718;
	box-shadow: 0px 0px 0px 2px #2ea718;
}
.nav-wrap .sub-menu ul:before{
	position:absolute;
	display:block;
	content:"";
	top:-13px;
	left:-16px;
	width:38px;
	height:47px;
	background:url(../images/menu-top.png) no-repeat;

}
.nav-wrap .sub-menu li{
	display:inline-block;
	vertical-align:top;
	padding:0 12px;
}
.nav-wrap .sub-menu a{
	display:block;
	text-decoration:none;
	color:#fff;
	font:13px/25px "TahomaR";
	text-decoration:underline;
}
.nav-wrap .sub-menu a:hover{
	text-decoration:none;
}
/*header*/
/*offer-item*/
.offer-wrap{
	padding-bottom:73px;
}
.offer-wrap .content{
	width:1082px;
	padding:0 32px;
}
.offer-item{
	margin:0 6px;
}
.offer-head{
	position:relative;
	padding:10px;
	text-align:center;
	background:#ee8600;
	color:#fff;
	font:16px/18px "TrebuchetB";
	z-index:2;
	border-radius:0px 7px 0px 7px;
	border:1px solid #fce7cc;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(238,134,0,1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(238,134,0,1);
	box-shadow: 0px 0px 0px 1px rgba(238,134,0,1);
}
.offer-head:after{
	position:absolute;
	display:block;
	content:"";
	bottom:-25px;
	left:-2px;
	width:37px;
	height:30px;
	background:url(../images/yellow-bottom-btn.png) no-repeat;
}
.offer-item{
	position:relative;
	padding:3px 0;
}
.offer-main{
	padding:33px 6px 33px;
	margin:0 2px;
	background:#f0f0f0;
	border:1px solid #c9c9c9;
	border-top:none;
}
.offer-list{
	padding:0 0 0 11px;
	
}
.offer-main li{
	font:13px/22px "TahomaR";
	color:#292929;
	margin-bottom:5px;
	list-style-image:url(../images/ul.png);
}
.offer-footer{
	position:relative;
	font-size:0px;
}
.offer-footer*{
	font-size:16px;
}
.offer-footer .price-wrap{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:56%;
	text-align:center;
	border:1px solid #2eae19;
	border-right:none;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.offer-footer .price{
	padding:4px 10px 4px 10px;
	color:#fff;
	font-size:24px;
	font-weight:600;
	line-height:20px;
	background:#2eae19;
	border:1px solid #fff;
	border-right:none;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.offer-footer .price:after{
	content:"";
	position:absolute;
	display:block;
	top:1px;
    right:-14px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 14px 0 14px 15px;
	border-color: transparent transparent transparent #2eae19;
}
.offer-footer .offer-btn-wrap{
	display:inline-block;
	vertical-align:top;
	border:1px solid #fd9c0d;
	border-left:none;
	width:44%;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.offer-footer .offer-btn{
	display:block;
	padding:5px 5px 5px 25px;
	color:#fff;
	font-size:16px;
	text-decoration:none;
	text-transform:lowercase;
	background: #fd9c0d;
	border:1px solid #fff;
	border-left:none;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.offers .slick-arrow{
	width:14px;
    height:64px;
}
.offers .slick-arrow:after{
	display:block;
	content:"";
	width:14px;
    height:64px;
    background:url(../images/left-arrow.png) no-repeat;
}
.offers .slick-arrow:before{
	position:absolute;
	display:block;
    content:"";
    top:-15px;
    width:6px;
    height:95px;
    opacity:1!important;
    background:url(../images/left-band.png) no-repeat;
}
.offers .slick-arrow.slick-prev:before{
	right:-12px;
}
.offers .slick-arrow.slick-next:before{
	left:-12px;
    -webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}
.offers .slick-arrow.slick-prev{
	left:-34px;
}
.offers .slick-arrow.slick-next{
	right:-34px;
}
.offers .slick-arrow.slick-next:after{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}
/*end offer-item*/




.benefits-list{
	counter-reset:count;
}
.benefits-list li:before{
	content:counter(count);
	counter-increment:count;
}







/*logos-wrap*/
.logos-wrap{
	margin-bottom:20px;
}
.logos-wrap .content{
	width:959px;
}
.logo-list{
	display:table;
	width:100%;
}
.logo-list li{
	display:table-cell;
	max-width:198px;
}
.logo-list a{
	display:block;
	text-decoration:none;
}
.logo-list .images-wrap{
	position:relative;
	width:76px;
	height:76px;
	margin:0 auto 6px;
	background: #eeeeef;
background: -moz-linear-gradient(top, #eeeeef 0%, #c3c3c3 100%);
background: -webkit-linear-gradient(top, #eeeeef 0%,#c3c3c3 100%);
background: linear-gradient(to bottom, #eeeeef 0%,#c3c3c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeef', endColorstr='#c3c3c3',GradientType=0 );
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.logo-list .images-wrap:before{
	position:absolute;
	display:block;
	content:"";
	width:66px;
	height:5px;
	left:50%;
	margin-left:-33px;
	bottom:-3px;
	z-index:-1;
	background:url(../images/logo-shadow.png) no-repeat;
}
.logo-list .images-wrap:after{
	position:absolute;
	display:block;
	content:"";
	width:76px;
	height:76px;
	background:url(../images/logos.png) no-repeat;
	top:0;
	left:0;
}
.logo-list .title{
	position:relative;
	text-align:center;
	color:#383838;
	padding:0 10px;
}
.logo-list .title:before,
.logo-list .title:after{
	position:absolute;
	display:block;
	content:"";
	top:0;
	left:0;
	width:1px;
	height:18px;
	background:#c9c9c9;
}
.logo-list .title:after{
	left:auto;
	right:0;
}
.logo-list .led .images-wrap:after{
	background-position: -263px -5px;
}
.logo-list .arrow .images-wrap:after{
	background-position: -5px -5px;
}
.logo-list .brush .images-wrap:after{
	background-position: -91px -5px;
}
.logo-list .globe .images-wrap:after{
	background-position: -177px -5px;
}
.logo-list .ring .images-wrap:after{
	background-position: -435px -5px;
}
.logo-list .question .images-wrap:after{
	background-position: -349px -5px;
}

/*end logos-wrap*/