.info{
	.info__info-wrap{
		padding:130px 0 98px;
		justify-content:space-between;
		@media screen and (max-width:1140px){
			flex-direction:column;
			align-items:center;
		}
		@media screen and (max-width:780px){
			padding:70px 0 50px;
		}
		.info__info-box{
			max-width:570px;
			@media screen and (max-width:767px){
				max-width:none;
				width:100%
			}
			h2{
				margin-bottom:46px;
				position:relative;
				font-size:34px;
				line-height:40px;
				color:#00a1eb;
				text-transform:uppercase;
				@media screen and (max-width:480px){
					font-size:28px;
				}
				&:after{
					position:absolute;
					content:"";
					display:block;
					left:0;
					bottom:-20px;
					width:81px;
					height:1px;
					background:#a1a1a1;
				}
			}
			.info__text{
				max-width:470px;
				font:400 14px/19px "Hind", sans-serif;
				color:#737373;
				@media screen and (max-width:767px){
					max-width:none;
					width:100%;
					text-align:justify;
				}
			}
			.info__phone{
				font-size:22px;
				line-height:82px;
				color:#00a1eb;
				@media screen and (max-width:480px){
					font-size:18px;
				}
			}
			.btn-wrap{
				margin-bottom:30px;
				.btn{
					width:152px;
					padding:15px 11px;
					text-align:center;
					color:#fff;
					font-size:14px;
					line-height:15px;
					text-decoration:none;
					transition:.3s linear;
					&:hover{
						text-decoration:underline;
					}				
				}
			}
		}
		.info__img-box{
			max-width:600px;
			//width:52.5%;
			position:relative;
			@media screen and (max-width:767px){
				max-width:none;
				width:100%;
			}
			img{
				display:block;
				max-width:100%;
				margin:0 auto;
				@media screen and (max-width:767px){
					max-width:none;
					width:100%;
				}
			}
			.img-box__text{
				position:absolute;
			    bottom:41px;
			    right:38px;
				color:#fff;
				text-transform:uppercase;
				z-index:2;
			}
		}
	}
}