@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('fonts/Montserrat-Bold.eot');
	src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.content{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
}
.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn{
	display:inline-block;
	padding:10px 64px;
	text-decoration:none;
	font:16px "Montserrat-Bold", sans-serif;
	font-weight:700;
	color:#fff;
	background:#0263e7;
	border-radius:30px;
}
.title{
	text-align:center;
	font:30px "Montserrat-Bold", sans-serif;
	font-weight:bold;
}
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
/*slick-slide*/
.slick-slider .slick-arrow{
  width:16px;
  height:49px;
  cursor:pointer;
  z-index:10;
}
.slick-slider .slick-prev{
  left:-10px;
}
.slick-slider .slick-next{
  right:-10px;
}
.slick-slider .slick-arrow:before,
.slick-slider .slick-arrow:after{
  position:absolute;
  display: block;
  content: "";
  left:7px;
  width:2px;
  height:27px;
  opacity:1;
  background:#dedede;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before{
  top:0;
}
.slick-slider .slick-prev:before{
  transform:rotate(30deg);
}
.slick-slider .slick-next:before{
  transform:rotate(-30deg);
}
.slick-slider .slick-prev:after,
.slick-slider .slick-next:after{
  top:23px;
}
.slick-slider .slick-prev:after{
  transform:rotate(-30deg);
}
.slick-slider .slick-next:after{
  transform:rotate(30deg);
}
/*end slick-slide*/
/*arrow*/
.fa-arrow{
  position:absolute;
  display:block;
  width:8px;
  height:13px;
}
.fa-arrow:after,
.fa-arrow:before{
  position:absolute;
  display:block;
  content:"";
}
.fa-arrow:after{
  width:2px;
  height:8px;
  top:0px;
  left:3px;
  background:#222;
}
.fa-arrow:before{
  width: 0;
  height: 0;
  left:0;
  top: 8px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #222 transparent transparent transparent;
}
/*end arrow*/
/*header*/
.header{
	padding:60px 0 100px;
	background:#fff;
}
.top-header{
	display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-header .logo{
	padding:5px 0;
}
.top-header .logo img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.nav-bar .nav{
	padding-top:15px;
	font-size:14px;
	list-style:none;
}
.nav-bar li{
	display:inline-block;
	vertical-align:top;
	font-size:0;
}
.nav-bar li + li{
	margin-left:40px;
}
.nav-bar li a{
	display:block;
	font:17px "Montserrat-Regular", sans-serif;
	font-size:13px;
	font-weight:700;
	color:#000;
	text-decoration:none;
}
.nav-bar li a:hover{
	border-bottom:1px solid #0263e7;
}
/*bottom-header*/
.bottom-header{
	position:relative;
	padding-bottom:200px;
}
.bottom-header:after{
	display:block;
	position:absolute;
	content:"";
	bottom:65px;
	left:50%;
	margin-left:-17px;
	width:35px;
	height:35px;
	background:url(../images/right-arrows.png) no-repeat;
}
.bottom-header .img-wrap{
	margin:0 auto;
}
.bottom-header .img-wrap img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.bottom-header .title-dron{
	position:absolute;
	top:220px;
	left:0;
	font:50px "Montserrat-Bold", sans-serif;
	font-weight:700;
	letter-spacing:-2px;
}
.bottom-header .title-dron span{
	font:30px "Montserrat-Regular";
}
.bottom-header .text{
	position:absolute;
	bottom:240px;
	right:27px;
	font:29px "Montserrat-Bold", sans-serif;
	font-weight:700;
	letter-spacing:-2px;
	color:#0263e7;
}
.bottom-header .text:after,
.bottom-header .text:before{
	display:block;
	position:absolute;
	content:"";
	width:30px;
	height:30px;
	background:url(../images/corner.png) no-repeat;
}
.bottom-header .text:after{
	bottom:-10px;
	left:-27px;	
}
.bottom-header .text:before{
	top:-14px;
	right:-25px;
	transform:rotate(180deg); 
}
/*end header*/
/*view-dron*/
.view-dron{
	padding:100px 0;
	background:#e8e8e8;
}
.view-dron .title{
	position:relative;
	text-align:center;
	color:#000;
	margin-bottom:67px;
}
.view-dron .title:after{
	display:block;
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	margin-left:-40px;
	width:80px;
	height:2px;
	background:#0a0a0a;
}
.view-dron .img-wrap{
	position:relative;
	margin-bottom:50px;
}
.view-dron img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.view-dron .price-wrap{
	position:absolute;
	right:84px;
	bottom:47px;
	font:18px/22px "Montserrat-Regular", sans-serif;
	font-weight:600;
}
.view-dron .price{
	color:#0263e7;
	font:36px/38px "Montserrat-Bold", sans-serif;
	font-weight:bold;
}
.view-dron .price span{
	border-bottom:1px solid #000;
}
.view-dron .btn-wrap{
	text-align:center;
}
/*end view-dron*/
/*advanteges-box*/
.advanteges-box{
	padding-bottom:80px;
	background:#f1f1f1;
}
.main{
	max-width:550px;
	margin:0 auto;
}
.main .img-wrap{
	margin-bottom:100px;
}
.main img{
	display:block;
	margin:0 auto;
	max-width:100%;
}
.main .title{
	margin-bottom:45px;
}
.main .txt{
	margin-bottom:20px;
	color:#484848;
	line-height:10px;
	letter-spacing:-1px;
	font:16px/30px "Montserrat-Regular", sans-serif;
}
.main .icon-wrap{
	margin:0 auto;
	text-align:left;	
}
.main .icon-wrap img{
	margin:0;
}
.icon-wrap .block{
	display:inline-block;
	vertical-align:top;
	font-size:0;
}
.icon-wrap .block div{
	margin-bottom:10px;
}
.icon-wrap .block + .block{
	margin-left:50px;
}
.icon-wrap .text{
	text-align:center;
	color:#000;
	font:14px/18px "Montserrat-Regular", sans-serif;
	font-weight:700;
}
/*end advanteges-box*/
/*benefit*/
.benefit{
	padding:100px 0 80px;
	background:#fff;
}
.benefit .info{
	max-width:555px;
}
.title{
	text-align:left;
	margin-bottom:45px;
}
p{
	margin-bottom:20px;
	color:#4c4c4c;
	font:16px/30px "Montserrat-Regular", sans-serif;
	/*font-weight:600;*/
}
.benefit .text{
	text-align:left;
}
/*end benefit*/
.control{
	padding:100px 0;
	background:#e8e8e8;
}
.control .info{
	max-width:720px;
}
.control .text{
	text-align:left;
}
/*main-box*/
.main-box{
	position:relative;
	padding:100px 0 20px;
	background:#0263e7;
}
.main-box:before{
	display:block;
	position:absolute;
	content:"";
	top: 158px;
	left:50%;
	margin-left:-807px;
    width: 1614px;
    height: 323px;
	background:url(../images/phantom-bg.png) no-repeat;
}
.main-box .title{
	position:relative;
	margin-bottom:60px;
	color:#fff;
	text-align:center;
}
.main-box .title:after{
	display:block;
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	margin-left:-40px;
	width:80px;
	height:2px;
	background:#fff;
}
.main-box .icon-box{
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	max-width:703px;
	margin:0 auto;
}
.main-box .icon{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width:200px;
	margin-bottom:65px;
}
.main-box .icon img{
	display:block;
	max-width:100%;
	margin:0 auto 15px;
}
.icon-box .caption{
	color:#fff;
	font:18px/22px "Montserrat-Bold", sans-serif;
}
.icon-box .pros{
	color:#78a5e5;
	font:16px/20px "Montserrat-Bold", sans-serif;
}
/*end main-box*/
/*sentence-box*/
.sentence-box{
	padding:90px 0;
	background:#fff;
}
.sentence-box .title{
	position:relative;
	text-align:center;
	color:#0263e7;
}
.sentence-box .title:after{
	display:block;
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	margin-left:-40px;
	width:80px;
	height:2px;
	background:#0263e7;
}
.sentence-box .price{
	text-align:center;
	color:#000;
	font:48px/50px "Montserrat-Bold", sans-serif;
}
.form-wrap .form-title{
	font:24px/26px "Montserrat-Regular", sans-serif;
	color:#0263e7;
	margin-bottom:40px;
}
.form-wrap input{
	display:block;
	margin-bottom:25px;
	width:250px;
	font:14px/30px "Montserrat-Regular", sans-serif;
	border:none;
	border-bottom:2px solid #80b1f3;

}
.form-wrap  input[type="text"]::-webkit-input-placeholder { 
   		color: #111; 
 }
 .form-wrap input[type="text"]:-ms-input-placeholder { 
   		color: #111; 
 }
 .form-wrap input[type="text"]::-ms-input-placeholder { 
   		color: #111; 
 }
 .form-wrap input[type="text"]::placeholder { 
   		color: #111; 
 } 
.form-wrap .btn{
	font:16px/20px "Montserrat-Regular", sans-serif;
	background:#0263e7;
	border:none;
}
/*end sentence-box*/
/*video-box*/
.video-box{
	padding:80px 5px 100px;
	background:#e8e8e8;
}
.video-box .title{
	position:relative;
	text-align:center;
	color:#000;
	margin-bottom:90px;
}
.video-box .title:after{
	display:block;
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	margin-left:-40px;
	width:80px;
	height:2px;
	background:#000;
}
.video-box .video{
	max-width:640px;
	margin:0 auto;
}
/*end video-box*/
/*gallery-box*/
.gallery-box{
	padding:100px 0;
	background:#fff;
}
.gallery-box .title{
	position:relative;
	text-align:center;
	margin-bottom:90px;
}
.gallery-box .title:after{
	display:block;
	position:absolute;
	content:"";
	left:50%;
	bottom:0;
	margin-left:-40px;
	width:80px;
	height:2px;
	background:#000;
}
.foto-box img{
	display:block;
	margin:0 auto;
	max-width:100%;
}

/*end gallery-box*/