@font-face {
	font-family:'ARIALN';
	src: url('../../fonts/ARIALN.eot');
	src: local('☺'), url('../../fonts/ARIALN.woff') format('woff'), url('../../fonts/ARIALN.ttf') format('truetype'), url('../../fonts/ARIALN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}