.search-wrap{
	padding:100px 0;
	.panel{
		padding-top:50px;
        padding-bottom:30px;
	}
}
.search-field-wrap{
	position:relative;
	&:after{
    	display:block;
    	position:absolute;
    	content:"";
    	top:50%;
    	left:8px;
    	width:23px;
    	height:23px;
    	-webkit-transform:translateY(-50%);
    	-moz-transform:translateY(-50%);
    	transform:translateY(-50%);
    	background:url(../../images/search.png) no-repeat;
    }
	.input-field{
		padding-left:40px;
	}
}