.footer{
	background:#fff;
	.logo{
		padding:65px 0 44px;
		text-align:center;
		a{
			display:inline-block;
			cursor:pointer;
			img{
				display:block;
				max-width:100%;
				margin:0 auto;
			}
		}
		
	}
	.icon-wrap{
		display:flex;
		padding:24px 0;
		justify-content:center;
		flex-wrap: wrap;
	    border-top: 1px solid #e1e1e1;
	    border-bottom: 1px solid #e1e1e1;	
	    li{
	    	display:inline-block;
	    }    
	    li + li{
	    	margin-left:45px;
	    }
	    a{
	    	display:block;
	    	text-decoration:none;	
	    	font-size:15px;    	
	    	color:#777;
	    	cursor:pointer;
	    }
	}
    .copy{
    	padding:34px 0;
    	text-align:center;
    	color:#9c9c9c;
    	font-weight:400;
    	font-size:13px;
    	line-height:26px;
    	text-transform: uppercase;
    	span{
    		color:#000;
    	}
    }
}