footer.footer
  .logo
    a(href='javascript:void(0);')
      img(src='../img/logo.png', alt='LOGO')
  ul.icon-wrap
    li
      a(href='javascript:void(0);')
        i.fab.fa-facebook-f
    li
      a(href='javascript:void(0);')
        i.fab.fa-google-plus-g
    li
      a(href='javascript:void(0);')
        i.fab.fa-twitter
    li
      a(href='javascript:void(0);')
        i.fab.fa-linkedin-in
    li
      a(href='javascript:void(0);')
        i.fab.fa-instagram
    li
      a(href='javascript:void(0);')
        i.fas.fa-globe
    li
      a(href='javascript:void(0);')
        i.fab.fa-pinterest-p
  .copy
    | © 2016 
    span Mulitix Theme
    |  by ThemeForces. All Rights Reserved.
