doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Lian
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', type='text/css', href='../css/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/slick-theme.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  body
    include ../template/header.pug
    .main.blog
      .banner-wrap
        .content
          .text-wrap
            .text News About Lian
            .sup-text
              span Latest News & Insights
      .blog-wrap
        .content.flex
          .blog-box.flex
            .blog
              .news
                .info-box
                  .category WordPress
                  .title
                    a(href='post.html') I am a Blog Post Title
                  .author
                    span
                      i.fas.fa-user
                    | by Jenn Pereira
                  .info
                    a(href='post.html')
                      | Phasellus et nisl tellus. Etiam facilisis eu nisi scelerisque faucibus. Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris. Etiam facilisis eu nisi scelerisque faucibus...
                  .bottom.flex
                    .data
                      span
                        i.far.fa-calendar
                      |  in July 19,2018
                    .social-box.flex
                      .social
                        a.share(href='#')
                          i.fas.fa-share-alt
                        ul.icon-wrap
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-facebook-f
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-google-plus-g
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-twitter
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-linkedin-in
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-instagram
                          li
                            a(href='javascript:void(0);')
                              i.fas.fa-globe
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-pinterest-p
                      .like
                        i.fas.fa-heart
              .news
                .img-box
                  img(src='../img/img1.png', alt='#')
                .info-box
                  .title
                    a(href='post.html') I am a Blog Post with an Awesome Image
                  .author
                    span
                      i.fas.fa-user
                    |  by Jenn Pereira
                  .info
                    a(href='post.html')
                      | Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                  .bottom.flex
                    .data
                      span
                        i.far.fa-calendar
                      |  in July 19,2018
                    .social-box.flex
                      .social
                        a.share(href='#')
                          i.fas.fa-share-alt
                        ul.icon-wrap
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-facebook-f
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-google-plus-g
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-twitter
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-linkedin-in
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-instagram
                          li
                            a(href='javascript:void(0);')
                              i.fas.fa-globe
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-pinterest-p
                      .like
                        i.fas.fa-heart
              .news
                .img-box
                  img(src='../img/blog/blog1.png', alt='#')
                .info-box.hover
                  .title
                    a(href='post.html') I am a Blog Post Title
                  .author
                    span
                      i.fas.fa-user
                    |  by Jenn Pereira
                  .info
                    a(href='post.html')
                      | Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                  .bottom.flex
                    .data
                      span
                        i.far.fa-calendar
                      |  in July 19,2018
                    .social-box.flex
                      .social
                        a.share(href='#')
                          i.fas.fa-share-alt
                        ul.icon-wrap
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-facebook-f
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-google-plus-g
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-twitter
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-linkedin-in
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-instagram
                          li
                            a(href='javascript:void(0);')
                              i.fas.fa-globe
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-pinterest-p
                      .like
                        i.fas.fa-heart
            .blog
              .news
                .img-box
                  img(src='../img/blog/watch.png', alt='#')
                .info-box
                  .title
                    a(href='post.html') I am a Blog Post with an Awesome Image
                  .author
                    span
                      i.fas.fa-user
                    |  by Jenn Pereira
                  .info
                    a(href='post.html')
                      | Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                  .bottom.flex
                    .data
                      span
                        i.far.fa-calendar
                      |  in July 19,2018
                    .social-box.flex
                      .social
                        a.share(href='#')
                          i.fas.fa-share-alt
                        ul.icon-wrap
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-facebook-f
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-google-plus-g
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-twitter
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-linkedin-in
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-instagram
                          li
                            a(href='javascript:void(0);')
                              i.fas.fa-globe
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-pinterest-p
                      .like
                        i.fas.fa-heart
              .news.video(align='center')
                iframe(width='360', height='245', src='https://www.youtube.com/embed/_V6qTicPbdM', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
              .news
                .img-box
                  img(src='../img/blog/blog2.png', alt='#')
                .info-box
                  .title
                    a(href='post.html') I am a Blog Post with an Awesome Image
                  .author
                    span
                      i.fas.fa-user
                    |  by Jenn Pereira
                  .info
                    a(href='post.html')
                      | Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...
                  .bottom.flex
                    .data
                      span
                        i.far.fa-calendar
                      |  in July 19,2018
                    .social-box.flex
                      .social
                        a.share(href='#')
                          i.fas.fa-share-alt
                        ul.icon-wrap
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-facebook-f
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-google-plus-g
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-twitter
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-linkedin-in
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-instagram
                          li
                            a(href='javascript:void(0);')
                              i.fas.fa-globe
                          li
                            a(href='javascript:void(0);')
                              i.fab.fa-pinterest-p
                      .like
                        i.fas.fa-heart
            .btn-wrap
              a.btn(href='#') Lore more
          .side-bar
            .search
              input(type='search', placeholder='Search')
              button(type='search')
            .posts-box.box
              .title Recent Posts
              .info-box
                .info.flex
                  .img-box
                    img(src='../img/blog/post_1.png', alt='#')
                  .text
                    | Lorem ipsum dolor sit amet, consec 
                    span July 5,2018
                .info.flex
                  .img-box
                    img(src='../img/blog/post_2.png', alt='#')
                  .text
                    | Ut wisi enim ad minim veniam, quis 
                    span July 17,2018
                .info.flex
                  .img-box
                    img(src='../img/blog/post_3.png', alt='#')
                  .text
                    | Aliquip ex ea commodo aliquam erat volutpat 
                    span July 21,2018
                .info.flex
                  .img-box
                    img(src='../img/blog/post_4.png', alt='#')
                  .text
                    | Ut wisi enim ad minim veniam, quis 
                    span July 17,2018
            .tags-box.box
              .title Popular tags
              .info-box
                ul
                  li
                    a.tag(href='#') construction
                  li
                    a.tag(href='#') engineering
                  li
                    a.tag(href='#') architecture
                  li
                    a.tag(href='#') structural design
                  li
                    a.tag(href='#') civil engineer
                  li
                    a.tag(href='#') industrial
                  li
                    a.tag(href='#') management
                  li
                    a.tag(href='#') mechanical
            .instagram-box.box
              .title Instagram
              .info-box
                ul.flex
                  li
                    a(href='#')
                      img(src='../img/blog/inst_1.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_2.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_3.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_4.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_5.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_6.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_7.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_8.png', alt='#')
                  li
                    a(href='#')
                      img(src='../img/blog/inst_9.png', alt='#')
    include ../template/footer.pug                    
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(src='../js/slick.min.js')
    script(src='../js/scripts.js')
