doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Lian
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', type='text/css', href='../css/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/slick-theme.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  body
    include ../template/header.pug
    .main.details
      .banner-wrap
        .content
          .text-wrap
            .text About The Agency
            .sup-text
              span Welcome to Lian
      .top-block
        .content.flex
          ul
            li.nav
              a.btn-down(href='#')
                span
                  i.fas.fa-list-ul
                | show all
              ul.drop-down
                li
                  a.active(href='javascript:void(0)') All
                li
                  a(href='javascript:void(0)') Logo
                li
                  a(href='javascript:void(0)') Mobile App
                li
                  a(href='javascript:void(0)') WordPress
                li
                  a(href='javascript:void(0)') Web Design
                li
                  a(href='javascript:void(0)') UI/IX
                li
                  a(href='javascript:void(0)') Branding
      .detail-wrap
        .content
          .detail-slider
            .slide-item.flex
              .wrap-info
                .slider_hide
                  .item
                    img(src='../img/details/img1.png', alt='#')
                  .item
                    img(src='../img/details/h_img2.png', alt='#')
                  .item
                    img(src='../img/details/h_img3.png', alt='#')
                .title
                  | Pereira Creative Agency 
                  span Branding Design
                .info-box
                  .top
                    .date February 28, 2015 
                    .likes
                      span
                        i.fas.fa-heart
                      |  324 likes
                    .text
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                  .bottom
                    .info
                      | Role On Project: 
                      span Project Designer, Lead Designer, Markerting Head
                    .info
                      | Tags:
                      span Mobile App, UI/UX design
                  .share-wrap.flex
                    a.share(href='javascript:void(0);')
                      span
                        i.fas.fa-share-alt
                      |  share
                    .icon-wrap
                      ul.icon-box.flex
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-facebook-f
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-google-plus-g
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-twitter
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-linkedin-in
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-instagram
                        li
                          a(href='javascript:void(0);')
                            i.fas.fa-globe
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-pinterest-p
              .slider_in
                .slider-for
                  .item
                    img(src='../img/details/img1.png', alt='#')
                  .item
                    img(src='../img/details/img_s3.png', alt='#')
                  .item
                    img(src='../img/details/img_s2.png', alt='#')
                  .item
                    img(src='../img/details/img_s1.png', alt='#')
                .slider-nav
                  .item
                    img(src='../img/details/img_s4.png', alt='#')
                  .item
                    img(src='../img/details/img_s3.png', alt='#')
                  .item
                    img(src='../img/details/img_s2.png', alt='#')
                  .item
                    img(src='../img/details/img_s1.png', alt='#')
            .slide-item.flex
              .slider_in.second
                .slider-for
                  .item
                    img(src='../img/details/img1.png', alt='#')
                  .item
                    img(src='../img/details/img_s3.png', alt='#')
                  .item
                    img(src='../img/details/img_s2.png', alt='#')
                  .item
                    img(src='../img/details/img_s1.png', alt='#')
                .slider-nav
                  .item
                    img(src='../img/details/img_s4.png', alt='#')
                  .item
                    img(src='../img/details/img_s3.png', alt='#')
                  .item
                    img(src='../img/details/img_s2.png', alt='#')
                  .item
                    img(src='../img/details/img_s1.png', alt='#')
              .wrap-info
                .slider_hide
                  .item
                    img(src='../img/details/img1.png', alt='#')
                  .item
                    img(src='../img/details/h_img2.png', alt='#')
                  .item
                    img(src='../img/details/h_img3.png', alt='#')
                .title
                  | Pereira Creative Agency 
                  span Branding Design
                .info-box
                  .top
                    .date February 28, 2015 
                    .likes
                      span
                        i.fas.fa-heart
                      |  324 likes
                    .text
                      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                  .bottom
                    .info
                      | Role On Project: 
                      span Project Designer, Lead Designer, Markerting Head
                    .info
                      | Tags:
                      span Mobile App, UI/UX design
                  .share-wrap.flex
                    a.share(href='javascript:void(0);')
                      span
                        i.fas.fa-share-alt
                      |  share
                    .icon-wrap
                      ul.icon-box.flex
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-facebook-f
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-google-plus-g
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-twitter
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-linkedin-in
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-instagram
                        li
                          a(href='javascript:void(0);')
                            i.fas.fa-globe
                        li
                          a(href='javascript:void(0);')
                            i.fab.fa-pinterest-p
      .works-wrap
        .content
          .title Related Works
          .text-box
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .img-list.flex
            .item
              img(src='../img/details/work1.png', alt='#')
            .item
              img(src='../img/details/work2.png', alt='#')
            .item
              img(src='../img/details/work3.png', alt='#')
    include ../template/footer.pug
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(src='../js/slick.min.js')
    script(src='../js/scripts.js')
