doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Lian
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    link(rel='stylesheet', type='text/css', href='../css/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/slick-theme.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
  body
    include ../template/header.pug
    .main
      .slider-wrap
        .slider
          img(src='../img/home-slider1.png', alt='#')
          .title-slide
            .title Lian Creative Agency
            .text Minimal Freelance Portfolio
        .slider
          img(src='../img/home-slider2.png', alt='#')
          .title-slide
            .title Design & Branding
            .text We Deliver Quality Results
        .slider
          img(src='../img/home-slider1.png', alt='#')
          .title-slide
            .title Lian Creative Agency
            .text Minimal Freelance Portfolio
      .gallery
        .content
          .img-menu
            .mobile-menu
            .title Categories
          ul.gallery-nav
            li
              a.active(href='javascript:void(0)') All
            li
              a(href='javascript:void(0)') Logo
            li
              a(href='javascript:void(0)') Mobile App
            li
              a(href='javascript:void(0)') WordPress
            li
              a(href='javascript:void(0)') Web Design
            li
              a(href='javascript:void(0)') UI/IX
            li
              a(href='javascript:void(0)') Branding
          ul.gallery-wrap
            li.gallery-item.gallery-item--bg1(style='--bg: url(../img/img1.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg4(style='--bg: url(../img/img6.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg7(style='--bg: url(../img/img3.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg2(style='--bg: url(../img/img4.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg5(style='--bg: url(../img/img5.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg8(style='--bg: url(../img/img2.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg10(style='--bg: url(../img/img10.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg3(style='--bg: url(../img/img8.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg6(style='--bg: url(../img/img9.png);')
              a.gallery-item-inner(href='details.html')
            li.gallery-item.gallery-item--bg9(style='--bg: url(../img/img7.png);')
              a.gallery-item-inner(href='details.html')
          .btn-wrap
            a#loadMore.btn(href='#') Load more

    include ../template/footer.pug

    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(src='../js/slick.min.js')
    script(src='../js/scripts.js')
    script(src='../js/templates.js')
